<form name="form" class="form-horizontal " ng-submit="ctrl.addTrackLocation()" novalidate>
<ion-view view-title="{{'labelmessage-addtracking' | translate}}">
    <ion-content>
        <section>
            <messages src="ctrl.messages"></messages>
            <div ng-model="data">

                <div class="panel-default">
                    <div class="panel-heading z-depth-1 font-bold white-text blue darken-2">
                        <h4 class="text-center white-text">
                            {{'header-addlocation' | translate}}
                        </h4>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <h5 class="col-sm-2 control-label">{{'label-locationname' | translate}}</h5>

                            <div class="col-sm-10">
                                <input type="hidden" name="name" ng-model="ctrl.item.name">
                                <ul class="list-inline">
                                    <li ng-repeat="type in ctrl.trackingTypes" style="{{ type.id == ctrl.item.name ? 'background-color:powderblue;' : '' }} ">
                                        <img ng-src="{{type.src}}" ng-click="ctrl.setType(type);">
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <h5 class="col-sm-2 control-label">{{'label-locationdescription' | translate}}</h5>

                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       name="description"
                                       ng-model="ctrl.item.description"
                                       placeholder="{{'placeholder-locationdescription' | translate}}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="" ng-class="{'viewAcordion': viewAcorde}">
                    <div class="panel-default">
                        <div class="panel-heading z-depth-1 font-bold white-text blue darken-2" ng-click="ctrl.viewMap(viewAcorde)">
                            <h5 class="white-text">
                                <i class="icon" ng-class="viewAcorde ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>&nbsp;{{'labelmessage-map' | translate}}
                            </h5>
                        </div>
                        <googlemaps></googlemaps>
                    </div>
                </div>
            </div>
        </section>
    </ion-content>
    <ion-nav-buttons side="secondary">
        <button type="submit" ng-click="ctrl.addTrackLocation(form)" class="btn btn-primary blue darken-3 btn-addon btn-sm">
            <i class="fa fa-floppy-o"></i>{{'button-addlocation' | translate}}
        </button>
    </ion-nav-buttons>
</ion-view>
</form>
