<form name="form" id="" class="form-horizontal" ng-submit="ctrl.addTracking()">
<ion-view view-title="{{'header-addtracking' | translate}}">
    <ion-content>
        <div class="">
            <section>
                <messages src="ctrl.messages"></messages>
                <div ng-model="data">

                    <div class="panel-default">
                        <div class="panel-heading z-depth-1 font-bold white-text blue darken-2">
                            <h4 class="text-center white-text">
                                {{'labelmessage-addtracking' | translate}}
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">

                                <h5 class="col-sm-2 control-label">{{'label-locationname' | translate}}</h5>

                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="trackingname"
                                           ng-model="ctrl.item.trackingname"
                                           placeholder="Nombre Seguimiento GPS">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-default">
                        <div class="panel-heading z-depth-1 font-bold white-text blue darken-2">
                            <h5 class="white-text">
                                {{'label-locationdata' | translate}}
                            </h5>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <h5 class="col-sm-2 control-label">{{'label-locationtype' | translate}}</h5>

                                <div class="col-sm-12">
                                    <input type="hidden" name="locationname" ng-model="ctrl.item.locationname">
                                    <ul class="list-inline">
                                        <li ng-repeat="type in ctrl.trackingTypes" style="{{ type.id == ctrl.item.locationname ? 'background-color:powderblue;' : '' }} ">
                                            <img ng-src="{{type.src}}" ng-click="ctrl.setType(type);">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5 class="col-sm-2 control-label">{{'label-locationdescription' | translate}}</h5>

                                <div class="col-sm-12">
                                    <input type="text" name="locationdes"
                                           ng-model="ctrl.item.locationdes"
                                           placeholder="{{'placeholder-locationdescription' | translate}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </ion-content>
    <ion-nav-buttons side="secondary">
        <button type="submit" ng-click="ctrl.addTracking()" class="btn btn-primary blue darken-3 btn-addon btn-sm">
            <i class="fa fa-floppy-o"></i>{{'button-submitaddtracking' | translate}}
        </button>
    </ion-nav-buttons>
</ion-view>
</form>
