<form name="form" class="form-horizontal" ng-submit="ctrl.updateTracking(form)" novalidate>
<ion-view view-title="{{'labelmessage-updatetracking' | translate}}">
    <ion-content>
        <section>

            <messages src="ctrl.messages"></messages>

            <div class="panel-heading z-depth-1 font-bold white-text blue darken-2">
                <h4 class="text-center white-text">
                    {{'labelmessage-updatetracking' | translate}}
                </h4>
            </div>
            <div class="panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">{{'label-trackingname' | translate}}</h5>

                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   name="trackingname"
                                   ng-model="ctrl.item.name"
                                   placeholder="{{'placeholder-trackingname' | translate}}"
                                   required autofocus>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-default">
                <div class="panel-heading z-depth-1 font-bold white-text blue darken-2">
                    <h5 class="white-text">
                        {{'labelmessage-location' | translate}}
                        <a class="pull-right"
                           ng-click="showAddLocation(ctrl.item.id)"><i
                                class="fa fa-plus fa-fw"></i></a>
                    </h5>
                </div>
                <div class="panel-body" style="padding: 0;">
                    <span ng-if="ctrl.item.cuepoints.length == 0">{{'label-nolocationtraking' | translate}}</span>
                    <div class="list">
                        <div class="clear" ng-repeat="cuepoint in ctrl.item.cuepoints" on-hold="ctrl.deleteCuePoint(cuepoint, item)">
                            <div class="item item-thumbnail-left item-msad">
                                <img ng-src="{{cuepoint.cuepointname}}">
                                <div class="display:inline;">
                                    <p class="msad-title blacktitle">{{cuepoint.cuepointdesc}}</p>
                                    <p >{{cuepoint.cuepointdate | date : 'MM/dd/yyyy' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <div class="" ng-class="{'viewAcordion': viewAcorde}">
                <div class="panel-default">
                    <div class="panel-heading z-depth-1 font-bold white-text blue darken-2" ng-click="ctrl.viewMap(viewAcorde)">
                        <h5 class="white-text">
                            <i class="icon" ng-class="viewAcorde ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>&nbsp;{{'labelmessage-map' | translate}}
                        </h5>
                    </div>
                     <googlemaps></googlemaps>
                </div>
            </div>
        </section>
    </ion-content>
    <ion-nav-buttons side="secondary">
        <button type="submit" ng-click="ctrl.updateTracking(form)" class="btn btn-primary blue darken-3 btn-addon btn-sm">
            <i class="fa fa-floppy-o"></i>{{'button-updatetracking' | translate}}
        </button>
    </ion-nav-buttons>
</ion-view>
</form>
