<ion-view view-title="{{'title-tracking' | translate}}">
	<ion-content>

		<section>

			<messages src="ctrl.messages"></messages>

			<div class="panel panel-default" ng-if="allTracks().total == 0">
				<div class="panel-heading">{{'header-listtracking' | translate}}</div>
				<div class="panel-body">{{'label-messagenotracking' | translate}}</div>
			</div>
            <div ng-show="allTracks().total > 0 ">
                <div class="row" style="margin-right: 0 !important; margin-left: 0; margin-bottom: 0 !important;" ng-repeat="track in allTracks().tracks" ng-if="$index % 2 === 0">
                    <div class="col col-50" ng-if="$index < allTracks().total" ng-click="ctrl.navigateTo(allTracks().tracks[$index].id)" on-hold="ctrl.deleteTracking(allTracks().tracks[$index].id, allTracks().tracks[$index].name)">
                        <div class="list card" style="margin-bottom: 5px !important;">
                            <div class="item">
                                <h2>{{allTracks().tracks[$index].name}}</h2>
                            </div>
                            <div class="item">
                                <p><i class="icon ion-calendar text-success m-r-sm"></i>{{ allTracks().tracks[$index].created_at | date:"MM/dd/yyyy" }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-50" ng-if="$index + 1 < allTracks().total" ng-click="ctrl.navigateTo(allTracks().tracks[$index + 1].id)" on-hold="ctrl.deleteTracking(allTracks().tracks[$index + 1].id, allTracks().tracks[$index + 1].name)">
                        <div class="list card" style="margin-bottom: 5px !important;">
                            <div class="item">
                                <h2>{{allTracks().tracks[$index + 1].name}}</h2>
                            </div>
                            <div class="item">
                                <p><i class="icon ion-calendar text-success m-r-sm"></i>{{ allTracks().tracks[$index + 1].created_at | date:"MM/dd/yyyy" }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</section>
	</ion-content>

	<ion-nav-buttons side="secondary">
		<a href="#/app/tabs/addtracking">
			<button type="button" class="btn btn-primary blue darken-3 btn-addon btn-sm">
				<i class="fa fa-plus"></i>{{'button-addtracking' | translate}}
			</button>
		</a>
	</ion-nav-buttons>

</ion-view>
