
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <br>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <h2 class="font-bold">¿{{ 'label-olvidasteConstrasena' | translate }}?</h2>
      </div>
      <div class="row text-justify">
        {{ 'texto-olvidasteConstrasena' | translate }}. <br><br>
      </div>
      <div class="row">
        <div class="col-sm-3">
          E-mail
        </div>
        <div class="col-sm-9">
          <input type="email" name="email" placeholder="{{'label-email' | translate}}"
                 ng-model="user.dataUser.email" class="form-control no-border" required> <br>
        </div>
      </div>
      <div class="row">
        <button type="submit" ng-disabled="reset.$invalid" class="btn btn-lg btn-primary btn-block" ng-click="recover()" >{{'label-send' | translate}}</button>
        <messages src="messages"></messages>
        <label class="col-sm-12 font-bold text-center">{{'label-estaRegistrado' | translate}} <a href="#/login" class="text-primary">{{'label-menu-login' | translate}} </a></label>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

<ng-footer></ng-footer>
