<script language="javascript">
    var show = false;
</script>
<div class="container w-xxl w-auto-xs">
    <div class="text-center m-b-lg">
        <h1 class="text-shadow text-white" style="font-size: 300%;">Sin conexi&oacute;n</h1>
    </div>
    <div class="panel card ">
        <div class="panel-body" ng-show="show">No es posible obtener su localizaci&oacute;n actual, por favor verificar su conexi&oacute;n de Internet y que el GPS de su equipo m&oacute;vil est&aacute; encendido.</div>
    </div>
</div>