<script language="javascript">
    var show = false;
</script>
<div class="container w-xxl w-auto-xs">
    <div class="text-center m-b-lg">
        <h1 class="text-shadow text-white" style="font-size: 300%;">EN_Sin conexión</h1>
    </div>
    <div class="panel card ">
        <div class="panel-body" ng-show="show">EN_No es posible obtener su localización actual, por favor verificar su conexión de Internet y que el GPS de su equipo móvil esté encendido.</div>
    </div>
</div>