<ng-header></ng-header>
<ng-menu-su></ng-menu-su>
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">

    <div id="carousel-example-generic" class="carousel slide sube" data-ride="carousel">
        <!-- Indicators -->
        <!-- los data-target deben tener el mismo nombre que el id del div que lo contiene -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../../template/img/Imagen_1920x600-01.png" alt="fondo" class="img-responsive">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="../../template/img/Imagen_1920x600-02.png" alt="fondo" class="img-responsive">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
              <img src="../../template/img/Imagen_1920x600-03.png" alt="fondo" class="img-responsive">
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="../../template/img/Imagen_1920x600-04.png" alt="fondo" class="img-responsive">
              <div class="carousel-caption">
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
<ng-footer></ng-footer>
