<ng-header-loggeado></ng-header-loggeado>
<ng-menu></ng-menu>
<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <div class="bg-light lter b-b wrapper-md">
            <h5 class="m-n font-thin h5">Bienvenid@, {{user.name}} {{user.lastname}}</h5>
        </div>

        <messages src="messages"></messages>

        <section class="col-sm-12">
            <h3 class="font-bold">{{ 'label-titulo-editMustSeeAndDo' | translate}}</h3>
        </section>


        <section class="col-sm-12">
            <form class="form-horizontal" name="form" id="form" method="get">

                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active" id="list_1"><a href data-toggle="tab" data-target="#tab_1">
                            {{ 'label-mustData' | translate}} </a>
                        </li>
                        <li id="list_2">
                            <a href data-toggle="tab" data-target="#tab_2">
                                {{ 'label-mustDetail' | translate}} </a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane active" id="tab_1">
                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">
                                    {{ 'label-mustData' | translate}}
                                </div>

                                <div class="panel-body">

                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.mustTitle.$invalid && form.mustTitle.$dirty  }">
                                        <label class="col-sm-3 control-label text-left">
                                            * {{'label-mustTitle' | translate}}:
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" name="mustTitle"
                                                   class="form-control"
                                                   ng-model="must.title"
                                                   ng-maxlength="255" required>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.mustSummary.$invalid && form.mustSummary.$dirty  }">
                                        <label class="col-sm-3 control-label text-left"> * {{ 'label-mustSummary' |
                                            translate}}:</label>

                                        <div class="col-sm-9">

                                            <textarea name="mustSummary"
                                                      ng-model="must.summary"
                                                      class="form-control"
                                                      rows="4"
                                                      ng-maxlength="1000"
                                                      style="resize: none" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label text-left">{{'label-country' |
                                            translate}}</label>

                                        <div class="col-sm-9">
                                            <select class="form-control"
                                                    name="countries"
                                                    ng-model="countrySelected"
                                                    ng-change="getStates()"
                                                    ng-options="country.name for country in countries">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label text-left">{{'label-state' |
                                            translate}}</label>

                                        <div class="col-sm-9">
                                            <select class="form-control"
                                                    name="states"
                                                    ng-model="stateSelected"
                                                    ng-change="getLocation()"
                                                    ng-options="state.name for state in states">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label text-left">{{'label-location' |
                                            translate}}</label>

                                        <div class="col-sm-9">
                                            <select class="form-control"
                                                    name="locations"
                                                    ng-model="citySelected"
                                                    ng-options="city.name for city in locations" required>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label text-left">{{'label-class' |
                                            translate}}</label>
                                        <div class="col-sm-9">
                                            <select class="form-control"
                                                    name="catalogs"
                                                    ng-model="catalogSelected"
                                                    ng-options="catalog.name for catalog in catalogs" required>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.mustCoordinates.$invalid && form.mustCoordinates.$dirty  }">
                                        <label class="col-sm-3 control-label text-left">
                                            * {{'label-mustCoordinate' | translate}}:
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" name="mustCoordinates"
                                                   class="form-control"
                                                   ng-model="must.geographic_position"
                                                   ng-maxlength="255" required>
                                        </div>
                                    </div>
                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.mustPrice.$invalid && form.mustPrice.$dirty  }">
                                        <label class="col-sm-3 control-label text-left">
                                            * {{'label-mustPrice' | translate}}:
                                        </label>

                                        <div class="col-sm-9">

                                            <input type="number" name="mustPrice"
                                                   class="form-control"
                                                   ng-model="must.price"
                                                   min="0" ng-maxlength="10" required>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.mustQRSummary.$invalid && form.mustQRSummary.$dirty }">
                                        <label class="col-sm-3 control-label text-left">{{ 'label-mustQR' | translate}}:
                                            <input type="checkbox" name="qr" ng-model="must.qr" ng-true-value="1" ng-false-value="0" ng-change="changeMustQR()">
                                        </label>

                                        <div class="col-sm-9" ng-show="must.qr > 0">
                                            <textarea name="mustQRSummary"
                                                      ng-model="must.qr_code.summary"
                                                      class="form-control"
                                                      rows="4"
                                                      ng-maxlength="1000"
                                                      style="resize: none" />
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="must.qr > 0">
                                        <div class="col-sm-3"></div>
                                        <div align="center" class="col-sm-9" style="padding-top: 10px;">
                                            <qrcode 
                                              version="11"
                                              error-correction-level="L" 
                                              data="{{prefijo + must.title}}" 
                                              size="274" download></qrcode>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error': form.imageAR.$invalid && form.imageAR.$dirty  }">
                                        <label class="col-sm-3 control-label text-left">{{ 'label-mustAR' | translate }}:</label>
                                        <div class="col-sm-9">
                                          <input type="checkbox" name="ar" ng-model="must.ar" ng-true-value="1" ng-false-value="0">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="must.ar > 0">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                          <label class="col-sm-6 control-label text-left">{{ 'label-mustAR-360' | translate }}:</label>
                                          <input type="checkbox" name="ar" ng-model="must.ar_code.is_360" ng-true-value="1" ng-false-value="0">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="((must.ar > 0) && ((must.ar_code.is_360 == undefined) || (must.ar_code.is_360 < 1)))">
                                        <label class="col-sm-3 control-label text-left">{{ 'label-mustAR-augmentation' | translate }}:</label>
                                        <div align="center" class="col-sm-9" style="padding-top: 10px;">
                                            <input type="file" data-icon="false"
                                                   name="mustARImageAugmented"
                                                   data-classbutton="btn btn-default"
                                                   ng-model="must.ar_code.image_display"
                                                   onchange="angular.element(this).scope().setARImageAugmented()"
                                                   data-classinput="form-control inline v-middle input-s"
                                                   id="mustARImageAugmented" tabindex="-1"
                                                   ui-jq="filestyle">
                                            <span>{{ 'label-formatAllow' | translate }}: jpg y png</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="must.ar_code.image_display">
                                        <div class="col-sm-5 pull-right">
                                            <a ng-click="removeMustARImageAugmented()"><i class="fa icon-close" style="font-size: 20px;"></i></a>

                                        </div>
                                        <div class="col-sm-12" align="center">
                                            <img ng-src="data:image/JPEG;base64,{{must.ar_code.image_display}}" style="width: 60px; height: 60px;">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="((must.ar > 0) && ((must.ar_code.is_360 == undefined) || (must.ar_code.is_360 < 1)))">
                                        <label class="col-sm-3 control-label text-left">{{ 'label-mustAR-binary-wtc' | translate }}:</label>
                                        <div align="center" class="col-sm-9" style="padding-top: 10px;">
                                            <input type="file" data-icon="false"
                                                   name="mustARBinaryWTC"
                                                   data-classbutton="btn btn-default"
                                                   ng-model="must.ar_code.image_binary"
                                                   onchange="angular.element(this).scope().setARBinaryWTC()"
                                                   data-classinput="form-control inline v-middle input-s"
                                                   id="mustARBinaryWTC" tabindex="-1"
                                                   ui-jq="filestyle">

                                            <span>{{ 'label-formatAllow' | translate }}: wtc</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="must.ar_code.image_binary">
                                        <div class="col-sm-5 pull-right">
                                            <a ng-click="removeMustARBinaryWTC()"><i class="fa icon-close" style="font-size: 20px;"></i></a>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="((must.ar > 0) && ((must.ar_code.is_360 == undefined) || (must.ar_code.is_360 < 1)))">
                                        <label class="col-sm-3 control-label text-left">{{ 'label-mustAR-image-reference' | translate }}:</label>
                                        <div align="center" class="col-sm-9" style="padding-top: 10px;">
                                            <input type="file" data-icon="false"
                                                   name="mustARImageReference"
                                                   data-classbutton="btn btn-default"
                                                   ng-model="must.ar_code.image_preview"
                                                   onchange="angular.element(this).scope().setARImageReference()"
                                                   data-classinput="form-control inline v-middle input-s"
                                                   id="mustARImageReference" tabindex="-1"
                                                   ui-jq="filestyle">

                                            <span>{{ 'label-formatAllow' | translate }}: jpg y png</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="must.ar_code.image_preview">
                                        <div class="col-sm-5 pull-right">
                                            <a ng-click="removeMustARImageReference()"><i class="fa icon-close" style="font-size: 20px;"></i></a>
                                        </div>
                                        <div class="col-sm-12" align="center">
                                            <img ng-src="data:image/JPEG;base64,{{must.ar_code.image_preview}}" style="width: 60px; height: 60px;">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="((must.ar > 0) && (must.ar_code.is_360 > 0))">
                                        <label class="col-sm-3 control-label text-left">{{ 'label-mustAR-image-360' | translate }}:</label>
                                        <div align="center" class="col-sm-9" style="padding-top: 10px;">
                                            <input type="file" data-icon="false"
                                                   name="mustARImage360"
                                                   data-classbutton="btn btn-default"
                                                   ng-model="must.ar_code.image_360"
                                                   onchange="angular.element(this).scope().setARImage360()"
                                                   data-classinput="form-control inline v-middle input-s"
                                                   id="mustARImage360" tabindex="-1"
                                                   ui-jq="filestyle">

                                            <span>{{ 'label-formatAllow' | translate }}: jpg y png</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="must.ar_code.image_360">
                                        <div class="col-sm-5 pull-right">
                                            <a ng-click="removeMustARImage360()"><i class="fa icon-close" style="font-size: 20px;"></i></a>
                                        </div>
                                        <div class="col-sm-12" align="center">
                                            <img ng-src="data:image/JPEG;base64,{{must.ar_code.image_360}}" style="width: 60px; height: 60px;">
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error': form.imageMustSeeAndDo.$invalid 
                                    && form.imageMustSeeAndDo.$dirty }">
                                        <label class="col-sm-3 control-label text-left"> * {{ 'label-mustImage' | translate }}: </label>

                                        <div class="col-sm-9">
                                            <input type="file" data-icon="false"
                                                   name="imageMustSeeAndDo"
                                                   data-classbutton="btn btn-default"
                                                   ng-model="imageMustSeeAndDo"
                                                   onchange="angular.element(this).scope().setImage()"
                                                   data-classinput="form-control inline v-middle input-s"
                                                   id="imageMustSeeAndDo" tabindex="-1"
                                                   ui-jq="filestyle">
                                            <span>{{ 'label-formatAllow' | translate }}: jpg y jpeg</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="must.image_reference">
                                        <div class="col-sm-5 pull-right">
                                            <a ng-click="removeMustSeeAndDoImage()"><i class="fa icon-close" style="font-size: 20px;"></i></a>

                                        </div>
                                        <div class="col-sm-12" align="center">
                                            <img ng-src="data:image/JPEG;base64,{{must.image_reference}}" style="width: 60px; height: 60px;">
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="col-sm-12">
                                            <div class="text-right">
                                                <label class="control-label">* {{'label-camposRequeridos' |
                                                    translate}}</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_2">
                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">
                                    {{ 'label-mustDetail' | translate}}
                                </div>

                                <div class="panel-body">
                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.detailTitle.$invalid && form.detailTitle.$dirty  }">
                                        <label class="col-sm-3 control-label text-left">
                                            * {{'label-mustTitle' | translate}}:
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" name="detailTitle"
                                                   class="form-control"
                                                   ng-model="detail.title"
                                                   ng-maxlength="255">
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.detailSummary.$invalid && form.detailSummary.$dirty  }">
                                        <label class="col-sm-3 control-label text-left"> * {{ 'label-mustSummary' |
                                            translate}}:</label>

                                        <div class="col-sm-9">

                                            <textarea name="detailSummary"
                                                      ng-model="detail.summary"
                                                      class="form-control"
                                                      rows="4"
                                                      ng-maxlength="1000"
                                                      style="resize: none"/>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="text-center">
                                            <a class="btn btn-success" ng-click="addDetail()">
                                                {{'boton-aceptar-agregar'| translate }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">
                                    {{ 'label-mustDetailList' | translate}}
                                </div>

                                <div class="panel-body">

                                    <div class="form-group col-sm-6" ng-repeat="obj in details">
                                        <div class="checkbox">
                                            <label class="i-checks">
                                                <input type="checkbox"
                                                       ng-checked="details.indexOf(obj) > -1"
                                                       ng-click="toggleSelectionDetail(obj)"
                                                       value="{{obj}}">
                                                <i></i>
                                                <strong>{{obj.title}}</strong>
                                            </label>
                                        </div>
                                        {{obj.summary}}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 text-right">
                            <a href="#/list_mustseeanddo" class="btn btn-default">{{ 'boton-cancelar' |
                                translate }}
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 text-left">
                            <button type="submit" class="btn btn-success" ng-click="addMust()"
                                    ng-disabled="form.$invalid || catalogSelected.id == null || citySelected.id == null">{{
                                'boton-aceptar'
                                | translate }}
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </section>

    </div>
</div>

<div id="myloader">
    <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>
