
<header ng-show="showHeader" id="header" class="app-header navbar" role="menu">
  <!-- navbar header -->
  <div class="navbar-header bg-dark">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
      <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button ng-hide="!isLogged" class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll-to="myApp">
      <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
      <img src="../../template/img/logo.png" alt="." class="hide"/>
      <span class="hidden-folded m-l-xs">

        {{'label-tituloAplicacion' | translate}}</span>
    </a>

    <!-- / brand -->
  </div>
  <!-- / navbar header -->

  <!-- navbar collapse -->
  <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
    <!-- buttons -->
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs" >
      <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" target=".app">
        <i class="fa fa-dedent fa-fw text"></i>
        <i class="fa fa-indent fa-fw text-active"></i>
      </a>
    </div>
    <!-- / buttons -->
    <!-- / buttons -->

    <!-- nabar left -->
    <ul class="nav navbar-nav hidden-sm">
      <li>
        <img class="img-responsive" src="../../template/img/Logo_139x43_Blanco.png" alt="">
      </li>
      <li>
        <a href="#/howWork" >{{'label-menu-comoFunciona' | translate}}</a>
      </li>
      <li class="">
        <a href="#/businessOpportunities" >{{'label-menu-oportunidadNegocio' | translate}}</a>
      </li>
      <!--<li class="">-->
        <!--<a href="#/home" >Blog</a>-->
      <!--</li>-->
      <!--<li class="">-->
        <!--<a href="#/home" >Contáctenos</a>-->
      <!--</li>-->
    </ul>
    <!-- / nabar left -->
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#/login" >{{'label-menu-login' | translate}}</a>
      </li>
      <li>
        <a href="#/register" >{{'label-menu-registro' | translate}}</a>
      </li>

    </ul>
    <!-- nabar right -->

    <!-- / navbar right -->

  </div>
  <!-- / navbar collapse -->

</header>
