<header ng-show="showHeader" id="header" class="app-header navbar" role="menu">
  <!-- navbar header -->
  <div class="navbar-header bg-dark">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
      <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button  class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll-to="myApp">
      <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <a href="#/homeUser" class="navbar-brand text-lt">
      <i class=""></i>
      <img src="../../template/img/logo.png" alt="." class="hide"/>
      <span class="hidden-folded m-l-xs">{{'label-tituloAplicacion' | translate}}</span>
    </a>
    <!-- / brand -->
  </div>
  <!-- / navbar header -->

  <!-- navbar collapse -->
  <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs" >
      <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" target=".app">
        <i class="fa fa-dedent fa-fw text"></i>
        <i class="fa fa-indent fa-fw text-active"></i>
      </a>
    </div>
    <!-- / buttons -->

    <!-- nabar left -->
    <ul class="nav navbar-nav hidden-sm">

    </ul>
    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle clear">
                <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                  <img ng-show="user.image == null" src="../../template/img/user.png" alt="..."/>
                  <img ng-show="user.image != null" ng-src="data:image/jpeg;base64,{{user.image}}">
                  <i class="on md b-white bottom"></i>
                </span>
          <span class="hidden-sm hidden-md">{{user.name}} {{user.lastname}}</span> <b class="caret"></b>
        </a>
        <!-- dropdown -->
        <ul class="dropdown-menu animated fadeInRight w" >
          <li>
            <a href="#/userProfile" >{{'label-menu-perfil' | translate}}</a>
          </li>
          <li ng-controller="IndexCtrl">
            <a ng-click="logout()">{{'label-menu-logout' | translate}}</a>
          </li>
        </ul>
        <!-- / dropdown -->
      </li>

    </ul>
    <!-- / navbar right -->

  </div>
  <!-- / navbar collapse -->

</header>
