<div class="acordion">
	<div id="map-container" style="height: 400px;">
		<div id="map_no_internet" class="bg-white" style="height: 400px;" ng-show="view_map_no_internet">
			<div align="center" class="home_map section_map">
				<div class="centerLogin" style="margin-top: 10px">
					<div align="center">
						<img class="img-responsive" src="img/logo.png">
					</div>
				</div>
				<div class="wrapper_map">
					<h1>{{'message-no-internet' | translate}}</h1>
				</div>
			</div>
		</div>
		<div ng-attr-id="{{ 'map' + mapName }}" class="map" style="height: 400px; background: transparent url(img/default.gif) no-repeat center center;" data-tap-disabled="true"></div>
	</div>
</div>