<ion-view>
    <ion-content>
        <div class="content">
            <div class="container">
                <form name="form" class="form-signin" method="post" novalidate>
                    <messages class="help-block" src="ctrl.messages"></messages>

                    <div class="div-logo-ingresa">
                        <img class="img-responsive img-logo" src="img/itrip_logo.png">
                    </div>

                    <div class="row" style="text-align: center; display:inline-block; padding: 0px;">
                        <div class="form-group">
                            <input type="email" id="email" name="email"
                                   ng-model="ctrl.user.email" class="form-control"
                                   placeholder="{{'placeholder-email' | translate}}"
                                   required>
                            <input type="password" id="password" name="password"
                                   ng-model="ctrl.user.password" class="form-control"
                                   placeholder="{{'placeholder-inpassword' | translate}}"
                                   required>
                        </div>
                    </div>
                    <div class="row" style="text-align: center; display:inline-block; padding-left: 0px; margin: 0px">
                        <div class="col col-50">
                            <button class="button button-positive" style="white-space: nowrap;" ng-click="ctrl.submitForm(form.$valid)">
                                {{ 'button-login' | translate }}
                            </button>
                        </div>
                        <div class="col col-50">
                            <button class="button button-assertive" style="white-space: nowrap;" ng-click="ctrl.googleSignIn()">
                            {{ 'label-messageLoginGoogle+' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="row" style="text-align: center; display:inline-block;margin-bottom: 0px;">
                        <button class="button button-block button-clear" ng-click="ctrl.recoveryPassword()">
                            {{'link-recoverypassword' | translate}}
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </ion-content>
</ion-view>