<ion-side-menus>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">iTrip MX</h1>
    </ion-header-bar>
    <ion-content>
      <ul class="list">
        <a href="#/app/tabs/dashboard" class="item" menu-close>{{'menu-home' | translate}}</a>
        <a href="#/app/tabs/map" class="item" menu-close>{{'menu-map' | translate}}</a>
        <a href ng-click="showPage('travel')" class="item" menu-close>{{'menu-travel' | translate}}</a>
        <a href ng-click="showPage('documents')" class="item" menu-close>{{'menu-document' | translate}}</a>
        <a href ng-click="showPage('tracking')" class="item" menu-close>{{'menu-tracking' | translate}}</a>
        <a href="#/app/tabs/municipality" class="item" menu-close>{{'menu-mustseeanddo' | translate}}</a>
        <a href ng-controller="QRReaderCtrl" ng-click="readCode()" class="item" menu-close>{{'menu-qr' | translate}}</a>
        <a href ng-click="showPage('share')" class="item" menu-close>{{'menu-share' | translate}}</a>
        <a href="#/app/logout" ng-controller="LoginCtrl" ng-click="logout()" ng-show="isUserLogged()" class="item" menu-close>{{'menu-out' | translate}}</a>
        <!-- <a href="#/app/tabs/syncronization" class="item" menu-close>Sincronizar</a> -->
      </ul>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu-content> 
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
</ion-side-menus>
