<ion-view hide-nav-bar="true" name="start">
	<ion-content>
		<div class="content">
			<div class="container">
				<div class="modal-over div-modal" ng-style="startBackground != '' && {'background-image':'url('+startBackground+')'}">
					<div class="div-logo-ingresa">
						<img class="img-responsive img-logo" src="img/itrip_logo.png">
					</div>
					<div class="row" style="text-align: center; display:inline-block; margin: 0;">
						<div class="col col-md-10 div-button-ingresar">
							<button class="button button-block button-clear button-ingresar" ng-click="loginPage()">
								{{ 'button-enter-here' | translate }}
							</button>
						</div>
						<div class="colcol-md-10" align="center">
							<button class="button button-block button-clear button-omitir" ng-click="skipPage()">
								{{ 'label-skip' | translate }}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
