<ion-view view-title="{{'title-sync' | translate}}">
    <ion-content>
        <messages src="ctrl.messages"></messages>
        <div class="col">
            <div class="panel-heading z-depth-1 font-bold white-text blue darken-2">
                <h4 class="text-center white-text">
                    {{'label-messagesynctitle' | translate}}
                </h4>
            </div>

            <div>
                <div class="panel-body text-center">
                    {{'label-messageinfosync' | translate}}
                </div>
            </div>
        </div>
    </ion-content>
    <ion-nav-buttons side="secondary">
        <button type="button" class="btn btn-primary blue darken-3 btn-sm" ng-click="ctrl.syncInfo()"></i>{{'button-sync' | translate}}</button>
    </ion-nav-buttons>
</ion-view>
