<ion-nav-bar class="bar-positive">
	<ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-positive">
	<ion-tab icon="icon ion-gear-b" href="#/app/tabs/dashboard" hidden="true">
		<ion-nav-view name="dashboard-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab icon-on="favoritos-on" icon-off="favoritos-off" href="#/app/tabs/map">
		<ion-nav-view name="map-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab icon-on="viajes-on" icon-off="viajes-off" href ng-click="showPage('travel')">
		<ion-nav-view name="travel-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab icon-on="documentos-on" icon-off="documentos-off" href ng-click="showPage('documents')">
		<ion-nav-view name="document-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab icon-on="seguimientos-on" icon-off="seguimientos-off" href ng-click="showPage('tracking')">
		<ion-nav-view name="tracking-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab icon-on="queverquehacer-on" icon-off="queverquehacer-off" href="#/app/tabs/municipality">
		<ion-nav-view name="book-tab"></ion-nav-view>
	</ion-tab>
</ion-tabs>
