<ion-view name="dashboard" view-title="{{ 'title-home' | translate }}">
	<ion-content>
		<div class="content content-grid" style="height: 100%">
			<div class="container dashboard-wrapper">
				<div class="modal-over div-modal" ng-style="dashboardBackground != '' && {'background-image':'url('+dashboardBackground+')'}"></div>
				<div class="tlaxcala-wrapper">
					<img src="img/escudo.png" style="max-width: 96px"/>
				</div>
			</div>
		</div>
	</ion-content>
    <ion-nav-buttons side="secondary">
		<img src="img/perfil_off.png" ng-click="showPage('profile')" style="max-width: 32px; max-height: 32px;">
    </ion-nav-buttons>
</ion-view>
