<form name="inviteFriends" class="form-horizontal" ng-submit="ctrl.sendInvites()" novalidate>
<ion-view view-title="{{'title-share' | translate}}">
    <ion-content>
        <section>
            <div dw-loading="loading" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 30, width: 5, radius: 30 }}">
                <messages src="ctrl.messages"></messages>
                <div class="panel-default">
                    <div class="panel-body" style="padding: 0;">
                        <div class="item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="email" ng-model="ctrl.friend" style="margin: 0;" placeholder="{{'placeholder-email-friend' | translate}}">
                            </label>
                            <a class="btn btn-primary blue darken-3" ng-click="ctrl.addButton()">
                                {{'button-invite' | translate}}
                            </a>
                        </div>
                        <div>
                            <ion-list>
                                <ion-item ng-repeat="friend_email in ctrl.friends">
                                    {{ friend_email }}
                                </ion-item>
                            </ion-list>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ion-content>
    <ion-nav-buttons side="secondary">
        <button type="submit" ng-click="ctrl.sendInvites()" class="btn btn-primary blue darken-3 btn-addon btn-sm">
            <i class="fa fa-floppy-o"></i>{{'button-send-invites' | translate}}
        </button>
    </ion-nav-buttons>
</ion-view>
</form>
