<ion-view view-title="{{'title-book' | translate}}">
    <ion-content>
        <section>
            <div dw-loading="loading" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 30, width: 5, radius: 30 }}">
                <div class="list">
                    <a ng-repeat="book in ctrl.data.book" ng-click="ctrl.showBookDetail(book)">
                        <div class="item item-thumbnail-left item-msad" style="display:flex; align-items: center;">
                            <img ng-src="data:image/JPEG;base64,{{book.image_reference}}" ng-show="book.image_reference && book.image_reference != 'undefined'">
                            <h2 style="white-space:normal; vertical-align: middle;" class="blacktitle">
                                {{ book.name }}
                                <img class="pull-right foot" ng-show="book.is_360 && book.is_360 > 0" src="img/maps/360.png">
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </ion-content>
</ion-view>
