<script type="text/javascript" src="js/360.js"></script>
<div class="container">
    <div class="modal-over bg-white">
		<link rel="stylesheet" href="css/360.css">
		<div class="panorama">
			<img ng-src="data:image/JPEG;base64,{{ ctrl.image360 }}">
			<div class="credit" ng-click="ctrl.showBook(ctrl.bookid, ctrl.locationid)">
				{{ 'label-close' | translate }}
			</div>
		</div>
    </div>
</div>
