<ion-view view-title="{{'title-municipality' | translate}}">
    <ion-content>
        <section>
            <div dw-loading="loading" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 30, width: 5, radius: 30 }}">
                <div class="list">
                    <a ng-repeat="municipality in ctrl.data.municipality" ng-click="ctrl.showMunicipalityDetail(municipality)">
                        <div class="item" style="display:flex; align-items: center; height: 40px !important">
                            <h2 style="white-space:normal; vertical-align: middle;" class="blacktitle">
                                {{ municipality.name }}
                                <img class="pull-right foot" style="width: 40px !important" ng-show="municipality.is_360 && municipality.is_360 > 0" src="img/maps/360.png">
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </ion-content>
</ion-view>