<ion-view view-title="{{'title-mustseeanddo' | translate}}">
    <ion-pane>
        <ion-content>
            <section>
                <div dw-loading="loading" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 30, width: 5, radius: 30 }}">
                    <div class="card panel b-a">
                        <div class="m-l-n-xxs m-r-n-xxs">
                            <div ng-init="x = 3" class="top text-right padder m-t-xs w-full">
                                <rating ng-model="x" max="5" state-on="'fa fa-star text-white'"
                                        state-off="'fa fa-star-o text-white'"></rating>
                            </div>
                            <div class="bottom wrapper">
                                <div class="text-u-c h3 m-b-sm text-primary-lter">{{ctrl.item.title}}</div>
                            </div>
                            <img ng-src="data:image/JPEG;base64,{{ctrl.item.image_reference}}" class="img-full" ng-show="ctrl.item.image_reference && ctrl.item.image_reference != 'undefined'">
                            <div class="bottom wrapper">
                                <p style="white-space: pre-wrap;">{{ctrl.item.summary}}</p>
                            </div>
                            <div class="bottom wrapper">
                                <p ng-show="ctrl.item.distance">{{ 'label-distance' | translate }}{{ ctrl.item.distance  | number : 2 }} kms</p>
                            </div>
                        </div>
                    </div>

                    <div class="" ng-class="{'viewAcordion': viewAcorde}">
                        <div class="panel-default">
                            <div class="panel-heading z-depth-1 font-bold white-text blue darken-2" ng-click="ctrl.viewMap(viewAcorde)">
                                <h5 class="white-text">
                                    <i class="icon" ng-class="viewAcorde ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>&nbsp;{{'labelmessage-map' | translate}}
                                </h5>
                            </div>
                            <googlemaps></googlemaps>
                        </div>
                        <br/>
                    </div>

                    <div class="" ng-class="{'viewAcordion': viewAcord}" ng-show="ctrl.information.length > 0" ng-repeat="info in ctrl.information">
                        <div class="panel-default">
                            <div class="panel-heading z-depth-1 font-bold white-text blue darken-2" ng-click="viewAcord = !viewAcord">
                                <h5 class="white-text">
                                    <i class="icon" ng-class="viewAcord ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>&nbsp;{{info.title}}
                                </h5>
                            </div>
                            <div class="panel-body acordion h4">
                                <p style="white-space: pre-wrap;">{{info.summary}}</p>
                            </div>
                        </div>
                        <br/>
                    </div>
                </div>
            </section>
        </ion-content>
    </ion-pane>
</ion-view>



