<ion-view view-title="{{ ctrl.data.book.name }}">
	<ion-content>
		<section>
			<div dw-loading="loading" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 30, width: 5, radius: 30 }}">
				<div class="list">
					<div class="clear" ng-repeat="msad in ctrl.data.location">
						<div class="item item-thumbnail-left item-msad">
							<img ng-src="data:image/JPEG;base64,{{msad.image_reference}}" ng-click="ctrl.showMustSeeAndDoDetail(msad)" ng-show="msad.image_reference && msad.image_reference != 'undefined'">
							<div class="display:inline;">
								<p class="msad-title blacktitle" ng-click="ctrl.showMustSeeAndDoDetail(msad)">{{ msad.title }}</p>
								<p ng-show="msad.distance" ng-click="ctrl.showMustSeeAndDoDetail(msad)" style="font-size: 12px;">{{ 'label-distance' | translate }}{{ msad.distance  | number : 2 }} kms</p>
								<p ng-show="msad.price > 0" ng-click="ctrl.showMustSeeAndDoDetail(msad)">{{msad.price | currency}}</p>
								<img class="pull-right foot" ng-show="(msad.is_360 && msad.is_360 > 0) && msad.ar > 0" src="img/maps/360.png" ng-click="loadWikitude({{msad.id}})">
								<img class="pull-right foot" ng-show="(!msad.is_360 || msad.is_360 == 0) && msad.ar > 0" src="img/maps/ar.png" ng-click="loadWikitude({{msad.id}})">
								<img class="pull-right foot" ng-show="msad.qr > 0" src="img/maps/qr.png" ng-click="readCode({{msad.id}})">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script id="templates/modal.html" type="text/ng-template">
			<ion-modal-view>
				<ion-content>
					<div ng-bind-html="ctrl.explicitlyTrustedHtml" id="explicitlyTrustedHtml"></div>
					<div class="container">
						<div class="modal-over bg-white">
							<link rel="stylesheet" href="css/360.css">
							<div class="panorama">
								<img ng-src="data:image/JPEG;base64,{{ ctrl.image360 }}">
								<div class="credit" style="z-index: 100;" ng-click="modal.hide()">{{ 'label-close' | translate }}</div>
							</div>
						</div>
					</div>
				</ion-content>
			</ion-modal-view>
		</script>

	</ion-content>
</ion-view>