#myloader {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
  background-color:grey;
  opacity: .8;
}

.ajax-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px;  /* -1 * image height / 2 */
  display: block;
}

.tableHistoryInvestment{
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
.tableHistoryInvestment tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
.tableHistoryInvestment tr:nth-child(even) {
  background-color: #ffffff;
}

.tHistoryInvestment {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  width: 150px;
  text-align: center;
}

