<footer id="footer" class="app-footer" role="footer" ng-controller="FooterCtrl">
  <div class="wrapper b-t bg-light">
    <span onclick="irArriba()" class="pull-right"> <a id="ir-arriba" ui-scroll-to="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
   C&M Gestión y Evaluación S.A. de R.L.  &copy; 2016 Copyright.
  </div>
</footer>

