
<aside id="aside" class="app-aside hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">

      <!-- nav -->
      <nav ui-nav class="navi clearfix">
        <ul class="nav">
          <li>
            <a href="#">
              <i class="glyphicon glyphicon-file icon text-info-lter"></i>
              <span class="font-bold">Blog </span>
            </a>
          </li>
          <li>
            <a href="#/contact">
              <i class="glyphicon glyphicon-envelope icon text-info-lter"></i>
              <span class="font-bold">{{'label-contactenos' | translate}}</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- nav -->
    </div>
  </div>
</aside>
