
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">

            <a href class="navbar-brand block m-t">{{'label-recuperacionContrasena' | translate}}</a>
            <div class="m-b-lg">
              <div class="wrapper text-center">
                <strong>{{'label-cambiarPassword' | translate}}</strong>
              </div>
              <form name="reset">
                <div class="list-group list-group-sm" ng-class="{ 'has-error': reset.password.$invalid  }">
                  <div class="list-group-item" >
                    <input type="password" name="password" placeholder="{{'label-password' | translate}} "
                           ng-model="user.password" class="form-control no-border" required>
                  </div>
                </div>
                <div class="list-group list-group-sm" ng-class="{ 'has-error': reset.confirm_password.$invalid  }">
                  <div class="list-group-item" >
                    <input type="password"
                           class="form-control"
                           name="confirm_password"
                           ng-model="confirm_password"
                           ui-validate=" '$value==user.password' "
                           placeholder="{{'label-repeatPassword' | translate}}"
                           ui-validate-watch=" 'user.password' ">
                      <span ng-show="reset.confirm_password.$error.validator">
                            {{'label-passwordNoMatch' | translate}}</span>
                  </div>
                </div>
                <button type="submit" ng-disabled="reset.$invalid" class="btn btn-lg btn-primary btn-block" ng-click="recover()" >{{'label-send' | translate}}</button>

                <messages src="messages"></messages>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

<ng-footer></ng-footer>
<!--<div id="myloader">-->
  <!--<img src="template/img/loading.gif" class="ajax-loader"/>-->
<!--</div>-->
