<ng-header-loggeado></ng-header-loggeado>
<ng-menu></ng-menu>
<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <div class="bg-light lter b-b wrapper-md">
            <h5 class="m-n font-thin h5">Bienvenid@, {{user.name}} {{user.lastname}}</h5>
        </div>

        <messages src="messages"></messages>

        <section class="col-sm-12">
            <h3 class="font-bold">{{ 'label-titulo-books' | translate }} <a href="#/add_book"><i
                    class="fa fa-plus-circle"></i></a></h3>
        </section>

        <section class="col-sm-12">
            <div class="list-group">
                <div ng-repeat="book in books">
                    <a ng-click="showBook(book)" class="list-group-item">

                        <div class="row">
                            <div class="col-sm-1" align="center">
                                <img ng-src="{{imageBooksURL + book.imagePath + randomImg}}" style="width: 60px; height: 60px;" ng-show="book.imagePath">
                            </div>
                            <div class="col-sm-11">
                                <h3 class="list-group-item-heading">{{book.name}}</h3>
                                <p class="list-group-item-text" style="white-space: pre-wrap;">{{ book.description.length < 400 ? book.description : book.description.substring(0, 397) + '...' }}</p>
                            </div>
                        </div>

                    </a>
                </div>
            </div>
        </section>

    </div>
</div>

<div id="myloader">
    <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>
