<ion-view view-title="Files">
  <ion-content class="padding" ng-controller="FileCtrl">
    <div class="list card">
      <div class="item">
        <img ng-src="{{imgFile}}">
      </div>
      <div class="item">
        <button class="button button-block button-positive" ng-click="load()">Carga</button>
        <button class="button button-block button-positive" ng-click="download()">Descarga</button>
        <div class="item">
          <p>{{imgFile}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

