<ion-view view-title="Camara">
  <ion-content class="padding" ng-controller="CamaraCtrl">
    <div class="item">
      <p>Toma una fotografia</p>
    </div>
    <div class="item">
      <img ng-src="{{pictureUrl}}">
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="tomarFoto()">Tomar Foto</button>
    </div>
  </ion-content>
</ion-view>
