<ion-view view-title="Codigo QR">
    <ion-content class="padding" ng-controller="LectorCtrl">
      <div class="item">
      <p>Escanea un codigo de QR</p>
      </div>
      <div class="item">
        <button class="button button-block button-positive" ng-click="leerCodigo()">Escanear</button>
      </div>
    </ion-content>
  </ion-content>
</ion-view>
