<!--ion-view view-title="Imagen">
  <ion-content class="padding" ng-controller="ImagenCtrl">
    <div class="item">
      <p>Toma una fotografia</p>
    </div>
    <div class="padding">
      <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>
    </div>
    </ion-scroll>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="addImage()">Tomar Foto</button>
    </div>
  </ion-content>
</ion-view-->
<ion-view view-title="Imagen">
  <ion-content class="padding" ng-controller="ImagenCtrl">
    <div class="item">
      <p>Toma una fotografia</p>
    </div>
    <div class="item">
      <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px"/>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="addImage()">Tomar Foto</button>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="sendEmail()">Enviarla por Correo</button>
    </div>
  </ion-content>
</ion-view>
