<ion-view view-title="Internet">
  <ion-content class="padding" ng-controller="InternetCtrl">
    <div class="item">
      <p>Comprobar conexion internet</p>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="validarConexion()">Validar Conexion</button>
    </div>
  </ion-content>
</ion-view>
