<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- archivo Tab -->
  <ion-tab title="Archivo" icon-off="ion-ios-folder-outline" icon-on="ion-ios-folder" href="#/tab/archivo">
    <ion-nav-view name="archivo"></ion-nav-view>
  </ion-tab>

  <!-- camara Tab -->
  <ion-tab title="Camara" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/camara">
    <ion-nav-view name="camara"></ion-nav-view>
  </ion-tab>

  <!-- codigoqr Tab -->
  <ion-tab title="Codigo QR" icon-off="ion-ios-glasses-outline" icon-on="ion-ios-glasses" href="#/tab/codigoqr">
    <ion-nav-view name="codigoqr"></ion-nav-view>
  </ion-tab>

  <!-- gps Tab -->
  <ion-tab title="GPS" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/gps">
    <ion-nav-view name="gps"></ion-nav-view>
  </ion-tab>

  <!-- gps Tab -->
  <ion-tab title="Internet" icon-off="ion-ios-world-outline" icon-on="ion-ios-world" href="#/tab/internet">
    <ion-nav-view name="internet"></ion-nav-view>
  </ion-tab>

  <!-- image Tab -->
  <ion-tab title="Imagen" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/imagen">
    <ion-nav-view name="imagen"></ion-nav-view>
  </ion-tab>


</ion-tabs>
