<ng-header-loggeado></ng-header-loggeado>
<ng-menu></ng-menu>
<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <div class="bg-light lter b-b wrapper-md">
            <h5 class="m-n font-thin h5">Bienvenid@, {{user.name}} {{user.lastname}}</h5>
        </div>

        <messages src="messages"></messages>

        <section class="col-sm-12">
            <h3 class="font-bold">{{ 'label-titulo-mustSeeAndDo' | translate}} <a href="#/add_mustseeanddos"><i class="fa fa-plus-circle"></i></a></h3>
        </section>


        <section class="col-sm-12">
            <div>
                <div class="col-sm-12 m-t text-right">
                    <a  ng-click="openSearch()"><i class="fa fa-search" style="font-size: 20px;"></i></a>
                </div>
                <div ng-show="openedSearch">
                    <div class="well m-t bg-light lt">
                        <div class="row">
                            <div class="col-md-12 ">
                                <h4 class="font-bold">{{'label-parametrosBusqueda' | translate}}</h4>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label text-left">{{'label-country' |
                                    translate}}</label>

                                <div class="col-sm-9">
                                    <select class="form-control"
                                            name="countries"
                                            ng-model="countrySelected"
                                            ng-change="getStates()"
                                            ng-options="country.name for country in countries">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-left">{{'label-state' |
                                    translate}}</label>

                                <div class="col-sm-9">
                                    <select class="form-control"
                                            name="states"
                                            ng-model="stateSelected"
                                            ng-change="getLocation()"
                                            ng-options="state.name for state in states">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-left">{{'label-location' |
                                    translate}}</label>

                                <div class="col-sm-9">
                                    <select class="form-control"
                                            name="locations"
                                            ng-model="citySelected"
                                            ng-options="city.name for city in locations" required>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="text-center">
                                    <a class="btn btn-success" ng-click="findMust()">
                                        {{'boton-aceptar'| translate }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="col-sm-12">
            <div class="list-group">
                <div ng-repeat="must in mustSeeAndDoList">
                    <a ng-click="showMust(must)" class="list-group-item">

                        <div class="row">
                            <div class="col-sm-1" align="center">
                                <img ng-src="{{imageMsadsURL + must.imagePath + randomImg}}" style="width: 60px; height: 60px;" ng-show="must.imagePath">
                            </div>
                            <div class="col-sm-11">
                                <h3 class="list-group-item-heading">{{must.title}}</h3>

                                <p class="list-group-item-text" style="white-space: pre-wrap;">{{ must.summary.length < 400 ? must.summary : must.summary.substring(0, 397) + '...' }}</p>

                            </div>

                        </div>
                    </a>
                </div>
            </div>
        </section>

    </div>
</div>

<div id="myloader">
    <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>
