<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">
            <a href class="navbar-brand block m-t">{{'label-tituloAplicacion' | translate}}</a>
            <div class="m-b-lg">

                <form name="form" class="form-validation">
                    <!--<div class="text-danger wrapper text-center" ng-show="authError">-->
                    <!--</div>-->

                    <messages src="messages" name="messages" ></messages>

                    <div class="list-group list-group-sm">
                        <div class="list-group-item">
                            <input type="text" placeholder="{{'label-userName' | translate}}" class="form-control no-border" name="username" ng-model="user.username" required>
                        </div>
                        <div class="list-group-item">
                            <input type="password" placeholder="{{'label-password' | translate}}" class="form-control no-border" name="password" ng-model="user.password" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>{{'label-menu-login' | translate}}</button>
                    <div class="text-center m-t m-b"><a href="#/forgotPassword">{{'label-forgotPassword' | translate}}</a></div>
                </form>
            </div>
        </div>
    </div>
</div>

