.credit {
	text-align: center;
	color: #888;
	padding: 10px 10px;
	margin: 0 0 0 0;
	background: #f5f5f5;
	float: left;
	width: 100%;
}

.panorama {
	width: 100%;
	float: left;
	margin-top: -5px;
	/*height: 700px;*/
	height: 100%;
	position: relative;
}

.panorama .credit {
	background: rgba(0,0,0,0.2);
	color: white;
	font-size: 12px;
	text-align: center;
	position: absolute;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: right;
}
