@font-face {
    font-family: 'Renogare';
    src: url('fonts/Renogare.eot');
    src: url('fonts/Renogare.eot') format('embedded-opentype'),
         url('fonts/Renogare.woff2') format('woff2'),
         url('fonts/Renogare.woff') format('woff'),
         url('fonts/Renogare.ttf') format('truetype'),
         url('fonts/Renogare.svg#Renogare') format('svg');
}
