html {
    background-color: #f0f3f4;
}
body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    color: #58666e;
    background-color: transparent;
}
*:focus {
    outline: 0 !important;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
}
.error-container {
    margin: 5px 0;
}
.error-container:last-child {
    margin: 5px 0 0;
}
.error {
    padding: 10px 16px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #555;
    vertical-align: middle;
}
.error i {
    font-size: 24px;
    color: #B83E2C;
    vertical-align: middle;
}
.last-error-container > .error {
    padding: 10px 16px 0;
}
.has-errors {
    border-bottom: 3px solid #B83E2C;
}
.no-errors {
    border-bottom: 3px solid green;
}
.item-complex {
    border: none !important;
}
.pane {
    transform: translate3d(0%, 0px, 0px);
    background-color: #ffffff !Important;
}

.app-content-body {
    padding: 20px !important;
}
.content {
}
.content header {
    background-color: #f6f8f8;
    border-bottom: 1px solid #dee5e7;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 300;
}

ion-side-menu ion-item {
    font-size: 14px !important;
}

ion-side-menu ion-item .icon {
    font-size: 30px !important;
}

.header-menu-side {
    display: inline-block;
    float: none;
    height: auto;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    color: #eaebed !important;
    margin-left: 5px;
}
.user .panel-footer {
    border-color: #e42112;
    background-color: #ef473a;
    color: #fff;
}

.user {
    color: #fff;
}

.popup-buttons button {
    color: #ffffff !important;
    background-color: #7266ba;
    border-color: #7266ba;
}

.popup-head {
    display: none;
}

.popup-container .popup {
    background-color: transparent;
}

::-webkit-input-placeholder {
    text-align: left
}

::-moz-placeholder {
    text-align: left
}

/* firefox 19+ */
:-ms-input-placeholder {
    text-align: left
}

/* ie */
input:-moz-placeholder {
    text-align: left
}

.centerLogin {
    position: relative;
    width: 50%;
    max-width: 300px;
    margin-top: 15%;
}

.centerLabelLogin {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-top: 15%;
}

.help-block {
    color: yellow !important;
    text-align: center;
}

.btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.viewAcordion {
}

.acordion {
    display: none;

}

.viewAcordion .acordion {
    display: block;
}

.accor {
    -webkit-transition: height 500ms linear;
    -moz-transition: height 500ms linear;
    -ms-transition: height 500ms linear;
    -o-transition: height 500ms linear;
    transition: height 500ms linear;
}

.iconOption {
    font-size: 180%;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.mdi-action-credit-card:before {
    content: "\e61f";
}

.card-panel {
    transition: box-shadow .25s;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.card .card-title {
    font-size: 24px;
    font-weight: 300;
}

.card .card-title.activator {
    cursor: pointer;
}

.card.small, .card.medium, .card.large {
    position: relative;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
    max-height: 60%;
    overflow: hidden;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
    max-height: 40%;
    overflow: hidden;
}

.card.small .card-action, .card.medium .card-action, .card.large .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: inherit;
}

.card.small {
    height: 300px;
}

.card.medium {
    height: 400px;
}

.card.large {
    height: 500px;
}

.card .card-image {
    position: relative;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.card .card-content p {
    margin: 0;
    color: inherit;
}

.card .card-content .card-title {
    line-height: 48px;
}

.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #ffab40;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #ffd8a6;
}

.card .card-reveal {
    padding: 20px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.card .card-reveal .card-title {
    cursor: pointer;
    display: block;
}

.content section {
    padding: 0px;
}

.btn, .btn-large, .btn-flat {
    height: auto;
    text-transform: none;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #1976d2 !important;
}


input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: 1px solid #9e9e9e !important;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    margin: 0 0 15px 0;
    padding-left: 5px;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
}

.backgroundProfile {
    background-size: cover
}

.accord > .panel-default > .panel-heading {

    background-image: -webkit-gradient(linear, left 10%, left 100%, from(rgba(40, 50, 60, 0)), to(rgba(40, 50, 60, 0.5)));
    background-image: -webkit-linear-gradient(top, rgba(40, 50, 60, 0), 10%, rgba(40, 50, 60, 0.5), 100%);
    background-image: -moz-linear-gradient(top, rgba(40, 50, 60, 0) 10%, rgba(40, 50, 60, 0.5) 100%);
    background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 10%, rgba(40, 50, 60, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0028323c', endColorstr='#8028323c', GradientType=0);
    filter: none;
}
.button {
    background-color: #7266ba;
}
.centerLogin  input {
    background: white;
    padding: 4px 0px 4px 0px;
    text-align: center;
}

.centerLabelLogin  input {
    background: white;
    padding: 4px 0px 4px 0px;
    text-align: center;
}
.google-sign-in {
    border-radius: 4px;
    color: #FFF !important;
    background-color: #dd4c39;
    border-color: #dc4430;
}

.commandLink {
    color: #7266ba;
    text-decoration: underline;
}

.itemMenu {
    background-color: #3a3f51 !important;
    color: #a6a8b1;
    border: none !important;
}


.fila-seleccionable:hover {
    opacity: 0.7;
}

.form-group
{
    margin-bottom: 0 !important;
}

.boton_aceptar
{
    width: 66%;
}

.bluelabel {
    color: #1976D2 !important;
}

.blacklabel {
    color: #000000 !important;
    font-weight: 600;
    white-space: normal;
}

.blacktitle {
    color: #000000 !important;
    font-weight: bold !important;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.div-login {
    width: 100%;
}

.section_map {
    position: relative;
    display: table;
    width: 100%;
}
.home_map .wrapper_map {
    max-width: 680px;
}
.wrapper_map {
    padding: 0;
    margin: 0 auto;
    position: relative;
    width: 96%;
    max-width: 1200px;
}
.home_map {
    background: #fff;
    color: #1d2023;
    padding: 10px 10px;
}
h1 {
    font-size: 25px;
}
#map-container {
    width: 100%;
    position:relative;
}
#map_no_internet {
    width: 100%;
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

.custom-thumbnail {
    max-height: 100px !important;
}

.foot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
}

.msad-title {
    white-space: normal !important;
}

.zoom-pane {
    width: 100%;
    height: 100%;
}

.zoom-pane .scroll {
    min-height: 100%;
    /* Vertical align */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.zoom-pane img {
    width: 100%;
    vertical-align: middle;
}

.div-modal {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-logo {
    width: 100%;
    height: auto;      
}
.div-logo {
    position: absolute;
    top: 115px;
}
.div-logo-ingresa {
    margin-top: 50px;
    margin-bottom: 100px;
}
.div-button-ingresar {

}
.button-ingresar {
    font-family: Renogare;
    font-weight: bold;
    background-size: 100% !important;
    color: white !important;
    display: inline-block;
    background: url('../img/ingresa.png') no-repeat center !important;
    min-height: 58px !important;
    margin-bottom: 0px !important;
}
.button-omitir {
    font-family: Renogare;
    color: white !important;
    display: inline-block;
    text-align: center;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}


.list-item {
    text-align: center;
    padding-top: 10px !important;
    padding-right: 20px !important;
    padding-bottom: 0px !important;
    padding-left: 20px !important;
}

.list-item .clip-group {
    margin: 10px auto;
}

.clip-group {
    margin: 10px auto;
    position: relative;
}

.clip-group, .clip-group img {
    width: 128px;
    height: 128px;
}
img, legend {
    border: 0;
}
.clipping-mask {
    display: block;
    z-index: 1;
    width: 128px;
    height: 128px;
    background: url(../img/dashboard-clipping-mask.png) center center no-repeat;
    background-size: 128px;
    position: absolute;
    top: 0;
    left: 0;
}
.content-grid {
    padding-top: 30px;
}
.row-grid {
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
@media screen and (orientation: landscape) {
    .div-logo-ingresa {
        margin-top: 0px;
        margin-bottom: 30px;
    }
}
@media screen and (orientation: landscape) and (max-width: 1024px) {
    .div-logo-ingresa {
        margin-top: 0px;
        margin-bottom: 120px;
    }
}
@media (max-width: 320px) {
    .clip-group, .clip-group img {
        width: 110px;
        height: 110px;
    }
    .clipping-mask {
        display: block;
        z-index: 1;
        width: 110px;
        height: 110px;
        background: url(../img/dashboard-clipping-mask.png) center center no-repeat;
        background-size: 110px;
        position: absolute;
        top: 0;
        left: 0;
    }
}
@media (max-width: 480px) {
    .div-logo {
        position: absolute;
        top: 85px;
    }
    .div-button-ingresar {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .button-ingresar {
        font-family: Renogare;
        font-weight: bold;
        background-size: 100% !important;
        color: white !important;
        display: inline-block;
        background: url('../img/ingresa.png') no-repeat center !important;
        min-height: 58px !important;
        margin-bottom: 0px !important;
    }
}
@media (max-width: 1024px) {
    .div-logo {
        position: absolute;
        top: 85px;
    }
    .div-button-ingresar {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}
.tabs .tab-item .icon.favoritos-on {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/tab/favoritos_on.png');
    background-size:contain;
}
.tabs .tab-item .icon.favoritos-off {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/tab/favoritos_off.png');
    background-size:contain;
}
.tabs .tab-item .icon.viajes-on {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/tab/viajes_on.png');
    background-size:contain;
}
.tabs .tab-item .icon.viajes-off {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/tab/viajes_off.png');
    background-size:contain;
}
.tabs .tab-item .icon.documentos-on {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/tab/documentos_on.png');
    background-size:contain;
}
.tabs .tab-item .icon.documentos-off {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/tab/documentos_off.png');
    background-size:contain;
}
.tabs .tab-item .icon.seguimientos-on {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/tab/seguimientos_on.png');
    background-size:contain;
}
.tabs .tab-item .icon.seguimientos-off {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/tab/seguimientos_off.png');
    background-size:contain;
}
.tabs .tab-item .icon.queverquehacer-on {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/tab/queverquehacer_on.png');
    background-size:contain;
}
.tabs .tab-item .icon.queverquehacer-off {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/tab/queverquehacer_off.png');
    background-size:contain;
}
.tabs .tab-item .icon.queverquehacer-off {
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/tab/queverquehacer_off.png');
    background-size:contain;
}

.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
    max-width: 40px;
    max-height: 40px;
}
.item-thumbnail-left, .item-thumbnail-left .item-content {
    padding-top: 0;
    padding-left: 50px;
    min-height: 50px;
}
.item-msad {
    padding-bottom: 0px;
}
.item-thumbnail-left > img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
    top: 5px;
    left: 5px;
}
.tab-item {
    opacity: 1;
}

/* custom loader styles
.dw-loading {
  left: auto !important;
}
.custom-loading.dw-loading {
  text-align: center;
}
*/

.custom-loading.dw-loading.dw-loading-overlay {
  background-color: rgba(255, 255, 255, .7);
  z-index: 9999;
  top: 150px;
}

.custom-loading.dw-loading > .dw-loading-body > .dw-loading-text {
  font-size: 30px;
  top: 65px;
}

.dw-spinner {
    margin: auto;
    width: 50%;
}

.dashboard-wrapper {
    position: absolute;
    height: 95%;
    width: 100%;
}
.tlaxcala-wrapper {
    position: relative;
    min-height: 100%;
}
.tlaxcala-wrapper img {
    position: absolute;
    right: 0;
    bottom: 20px;
}