<ng-header-loggeado></ng-header-loggeado>
<ng-menu></ng-menu>
<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <div class="bg-light lter b-b wrapper-md">
            <h5 class="m-n font-thin h5">Bienvenid@, {{user.name}} {{user.lastname}}</h5>
        </div>

        <messages src="messages"></messages>

        <section class="col-sm-12">
            <h3 class="font-bold">{{ 'label-titulo-addBook' | translate}}</h3>
        </section>


        <section class="col-sm-12">
            <form class="form-horizontal" name="form" id="form" method="get">

                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active" id="list_1"><a href data-toggle="tab" data-target="#tab_1">
                            {{ 'label-bookData' | translate}} </a>
                        </li>
                        <li id="list_2">
                            <a href data-toggle="tab" data-target="#tab_2">
                                {{ 'label-tabBookLocation' | translate}} </a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane active" id="tab_1">
                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">
                                    {{ 'label-bookData' | translate}}
                                </div>

                                <div class="panel-body">

                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.bookName.$invalid && form.bookName.$dirty  }">
                                        <label class="col-sm-3 control-label text-left">
                                            * {{'label-bookName' | translate}}:
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" name="bookName"
                                                   class="form-control"
                                                   ng-model="book.name"
                                                   ng-maxlength="255"
                                                   required>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         ng-class="{ 'has-error': form.bookDescription.$invalid && form.bookDescription.$dirty }">
                                        <label class="col-sm-3 control-label text-left"> * {{ 'label-bookDescription' |
                                            translate}}:</label>

                                        <div class="col-sm-9">

                                            <textarea name="bookDescription"
                                                      ng-model="book.description"
                                                      class="form-control"
                                                      rows="4"
                                                      ng-maxlength="1000"
                                                      style="resize: none" required/>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error': form.imageBook.$invalid && form.imageBook.$dirty  }">
                                        <label class="col-sm-3 control-label text-left"> * {{ 'label-bookImage' | translate }}: </label>

                                        <div class="col-sm-9">
                                            <input type="file" data-icon="false"
                                                   name="imageBook"
                                                   data-classbutton="btn btn-default"
                                                   ng-model="imageBook"
                                                   onchange="angular.element(this).scope().setImage()"
                                                   data-classinput="form-control inline v-middle input-s"
                                                   id="imageBook" tabindex="-1"
                                                   ui-jq="filestyle">
                                            <span>{{ 'label-formatAllow' | translate }}: jpg y jpeg</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="book.image != null">
                                        <div class="col-sm-5 pull-right">
                                            <a ng-click="removeImage()"><i class="fa icon-close" style="font-size: 20px;"></i></a>
                                        </div>
                                        <div class="col-sm-12" align="center">
                                            <img ng-src="data:image/JPEG;base64,{{book.image}}" style="width: 60px; height: 60px;">
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="col-sm-12">
                                            <div class="text-right">
                                                <label class="control-label">* {{'label-camposRequeridos' |
                                                    translate}}</label>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_2">
                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">
                                    {{ 'label-bookLocation' | translate}}
                                </div>

                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label text-left">{{'label-country' | translate}}</label>

                                        <div class="col-sm-9">
                                            <select class="form-control"
                                                    name="countries"
                                                    ng-model="countrySelected"
                                                    ng-change="getStates()"
                                                    ng-options="country.name for country in countries">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label text-left">{{'label-state' | translate}}</label>

                                        <div class="col-sm-9">
                                            <select class="form-control"
                                                    name="states"
                                                    ng-model="stateSelected"
                                                    ng-change="getLocation()"
                                                    ng-options="state.name for state in states">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label text-left">{{'label-location' | translate}}</label>

                                        <div class="col-sm-9">
                                            <select class="form-control"
                                                    name="locations"
                                                    ng-model="citySelected"
                                                    ng-options="city.name for city in locations" required>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="text-center">
                                            <a class="btn btn-success" ng-click="getMustseeanddoByLocationId()">
                                                {{'boton-aceptar-buscar'| translate }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">
                                    {{ 'label-mustseeanddo' | translate}}
                                </div>

                                <div class="panel-body">
                                    <div class="form-group col-sm-3" ng-repeat="mustseeanddo in mustSeeAndDoSimpleList">
                                        <div class="checkbox">
                                            <label class="i-checks">
                                                <input type="checkbox"
                                                       ng-checked="isMustSeeAndDoSelected(mustseeanddo) > -1"
                                                       ng-click="toggleSelectionMustSeeAndDo(mustseeanddo)"
                                                       value="{{mustseeanddo}}">
                                                <i></i>
                                                {{mustseeanddo.title}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading font-bold">
                                    {{ 'label-locations' | translate}}
                                </div>

                                <div class="panel-body">

                                    <div class="form-group col-sm-3" ng-repeat="mustseeanddo in bookMustseeanddo">
                                        <div class="checkbox">
                                            <label class="i-checks">
                                                <input type="checkbox"
                                                       ng-checked="bookMustseeanddo.indexOf(mustseeanddo) > -1"
                                                       ng-click="toggleSelectionBookMustseeanddo(mustseeanddo)"
                                                       value="{{mustseeanddo}}">
                                                <i></i>
                                                {{mustseeanddo.title}}
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 text-right">
                            <a href="#/list_books" class="btn btn-default">{{ 'boton-cancelar' |
                                translate }}
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 text-left">
                            <button type="submit" class="btn btn-success" ng-click="addBook()"
                                    ng-disabled="form.$invalid">{{
                                'boton-aceptar'
                                | translate }}
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </section>

    </div>
</div>
<div id="myloader">
    <img src="template/img/loading.gif" class="ajax-loader"/>
</div>
<ng-footer></ng-footer>
