/* app css stylesheet */
 .vertical-alignment-helper {
   display:table;
   height: 100%;
   width: 100%;
   pointer-events:none;
 }
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events:all;
}
.inahbilitado {
  cursor: default;
  opacity: 0.2;
}
