<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CyM</title>
    <!--  <title>{{'label-tittle' | translate}}</title>-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="components/animate.css/animate.css" type="text/css"/>
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="components/simple-line-icons/css/simple-line-icons.css" type="text/css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css"/>

    <link rel="stylesheet" href="template/css/font.css" type="text/css"/>
    <link rel="stylesheet" href="template/css/app.css" type="text/css"/>
    <link rel="stylesheet" href="template/css/estilos.css" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="components/jquery/bootstrap-tagsinput/dist/bootstrap-tagsinput.css"/>
    <link rel="stylesheet" type="text/css" href="components/jquery/bootstrap-daterangepicker/daterangepicker-bs3.css"/>
    <link rel="stylesheet" type="text/css" href="components/jquery/fullcalendar/dist/fullcalendar.theme.css"/>
    <link rel="stylesheet" type="text/css" href="components/jquery/fullcalendar/dist/fullcalendar.css"/>
    <link rel="stylesheet" type="text/css" href="components/jquery/footable/v3/css/footable.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="components/jquery/bower-jvectormap/jquery-jvectormap.css"/>
    <link rel="stylesheet" type="text/css"
          href="components/jquery/plugins/integration/bootstrap/3/dataTables.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="components/jquery/bootstrap-slider/bootstrap-slider.css"/>
    <link rel="stylesheet" type="text/css" href="components/jquery/nestable/jquery.nestable.css"/>
    <link rel="stylesheet" type="text/css" href="components/jquery/chosen/bootstrap-chosen.css"/>
    <link rel="stylesheet" type="text/css"
          href="components/jquery/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css"/>
    <link rel="stylesheet" type="text/css" href="app.css"/>


    <link rel="stylesheet" href="template/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="template/owl-carousel/owl-carousel/owl.theme.css">

</head>
<body>
<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<!-- Bootstrap -->

<script src="template/js/app.src.js"></script>
<script type="text/javascript">
    function irArriba()
    {
        $('body, html').animate({
            scrollTop: '0px'
        }, 300);
    }
    $(document).ready(function ()
    {

        $(window).scroll(function ()
        {
            if ($(this).scrollTop() > 0)
            {
                $('#ir-arriba').slideDown(300);
            }
            else
            {
                $('#ir-arriba').slideUp(300);
            }
        });

    });
</script>
<div class="app app-header-fixed ">
    <div ng-view>

    </div>
</div>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-ui-grid/ui-grid.js"></script>
<script src="bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
<script src="bower_components/angular-loader/angular-loader.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/angular-translate-loader-url/angular-translate-loader-url.js"></script>
<script src="bower_components/angular-qrcode/angular-qrcode.js"></script>
<script src="bower_components/qrcode-generator/js/qrcode.js"></script>


<script src="app.js"></script>
<script src="factories/messages.js"></script>
<script src="messages/messages.js"></script>
<script src="services/authProxy.js"></script>
<script src="services/userProxy.js"></script>
<script src="services/bookProxy.js"></script>
<script src="services/locationProxy.js"></script>
<script src="services/mustSeeAndDoProxy.js"></script>


<script src="views/home/home.js"></script>
<script src="views/login/login.js"></script>
<script src="views/header/header.js"></script>
<script src="views/menu/menu.js"></script>
<script src="views/homeUser/homeUser.js"></script>
<script src="views/footer/footer.js"></script>
<script src="views/listBooks/listBooks.js"></script>
<script src="views/listMustSeeAndDo/listMustSeeAndDo.js"></script>
<script src="views/addBook/addBook.js"></script>
<script src="views/updateBook/updateBook.js"></script>
<script src="views/addMustSeeAndDo/addMustSeeAndDo.js"></script>
<script src="views/updateMustSeeAndDo/updateMustSeeAndDo.js"></script>
<script src="views/forgotPassword/forgotPassword.js"></script>
<script src="views/changePassword/changePassword.js"></script>

<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>

<script src="template/directives/setnganimate.js"></script>
<script src="template/directives/ui-butterbar.js"></script>
<script src="template/directives/ui-focus.js"></script>
<script src="template/directives/ui-fullscreen.js"></script>
<script src="template/directives/ui-jq.js"></script>
<script src="template/directives/ui-module.js"></script>
<script src="template/directives/ui-nav.js"></script>
<script src="template/directives/ui-scroll.js"></script>
<script src="template/directives/ui-shift.js"></script>
<script src="template/directives/ui-toggleclass.js"></script>


<script src="template/services/ui-load.js"></script>
<script src="template/js/ui-jp.config.js"></script>
<script src="template/js/ui-jp.js"></script>
<script src="template/js/ui-nav.js"></script>
<script src="template/js/ui-toggle.js"></script>
<script src="template/js/ui-client.js"></script>


<script src="components/jquery/jquery.easy-pie-chart/dist/jquery.easypiechart.fill.js"></script>
<script src="components/jquery/jquery.sparkline/dist/jquery.sparkline.retina.js"></script>
<script src="components/jquery/flot/jquery.flot.js"></script>
<script src="components/jquery/flot/jquery.flot.pie.js"></script>
<script src="components/jquery/flot/jquery.flot.resize.js"></script>
<script src="components/jquery/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="components/jquery/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="components/jquery/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="components/jquery/moment/moment.js"></script>
<script src="components/jquery/screenfull/dist/screenfull.min.js"></script>
<script src="components/jquery/slimscroll/jquery.slimscroll.min.js"></script>
<script src="components/jquery/html5sortable/jquery.sortable.js"></script>
<script src="components/jquery/nestable/jquery.nestable.js"></script>
<script src="components/jquery/bootstrap-filestyle/src/bootstrap-filestyle.js"></script>
<script src="components/jquery/bootstrap-slider/bootstrap-slider.js"></script>
<script src="components/jquery/chosen/chosen.jquery.min.js"></script>
<script src="components/jquery/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
<script src="components/jquery/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
<script src="components/jquery/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
<script src="components/jquery/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="components/jquery/plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="components/jquery/bower-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="components/jquery/bower-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="components/jquery/bower-jvectormap/jquery-jvectormap-us-aea-en.js"></script>
<script src="components/jquery/footable/v3/js/footable.min.js"></script>
<script src="components/jquery/moment/moment.js"></script>
<script src="components/jquery/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="components/jquery/moment/moment.js"></script>
<script src="components/jquery/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="components/jquery/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
<script src="components/recaptcha/angular-recaptcha.js"></script>


</body>
</html>
