<ion-view view-title="{{'title-profile' | translate}}">
    <ion-content>
        <section>
            <div class="wrapper-m">
                <div class="row">
                    <div class="col-sm-2 col-xs-5" ng-if="ctrl.user.image_profile == null">
                        <img src="img/image_profile.jpg" class="img-thumbnail" style="width: 110px; height: 110px;">
                    </div>
                    <div class="col-sm-2 col-xs-5"  ng-if="ctrl.user.image_profile != null">
                        <img ng-src="data:image/JPEG;base64,{{ctrl.user.image_profile}}" style="width: 110px; height: 110px;" class="img-thumbnail" >
                    </div>
                    <div class="col-sm-10 col-xs-7">
                        <h2>{{ctrl.user.name}} {{ctrl.user.lastname}}</h2>
                        <p>{{getUser().username}}</p>
                    </div>
                </div>
            </div>
            <messages src="ctrl.messages"></messages>
            <div class="wrapper font-bold white-text blue darken-2 b-b center-align">
                <ul class="nav nav-pills nav-sm">
                    {{'label-messageuserdata' | translate}}
                </ul>
            </div>
            <div class="panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="h5 col-sm-2 control-label ng-binding">{{'labelinput-email' | translate}}</label>

                        <div class="col-sm-10">
                            <input class="form-control"
                                   value="{{getUser().username}}"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="h5 col-sm-2 control-label ng-binding">{{'labelinput-name' | translate}}</label>

                        <div class="col-sm-10">
                            <input type="text"
                                   name="name"
                                   ng-model="ctrl.user.name"
                                   placeholder="{{'placeholder-name' | translate}}"
                                   required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="h5 col-sm-2 control-label ng-binding">{{'labelinput-lastname' | translate}}</label>

                        <div class="col-sm-10">
                            <input type="text"
                                   name="lastname"
                                   ng-model="ctrl.user.lastname"
                                   placeholder="{{'placeholder-lastname' | translate}}"
                                   required/>
                        </div>
                    </div>

                    <div class="form-group" ng-if="ctrl.user.flag.length > 0">
                        <br />
                        <span ng-if="!ctrl.changePassword">
                            <span>{{'label-message-change-password' | translate}}</span><b><a href="#" ng-click="ctrl.toChangePassword()">{{'label-messageherelink' | translate}}</a></b>
                        </span>
                        <span ng-if="ctrl.changePassword">
                            <span>{{'label-message-not-change-password' | translate}}</span><b><a href="#" ng-click="ctrl.toChangePassword()">{{'label-messageherelink' | translate}}</a></b>
                        </span>
                    </div>
                    <div class="form-group" ng-if="ctrl.user.flag.length > 0 && ctrl.changePassword">
                        <label class="h5 col-sm-2 control-label ng-binding">{{'labelinput-current-password' | translate}}</label>

                        <div class="col-sm-10">
                            <input type="password"
                                   name="currentPass"
                                   ng-model="ctrl.current_password"
                                   placeholder="{{'placeholder-current-password' | translate}}"
                                   required/>
                        </div>
                    </div>
                    <div class="form-group" ng-if="ctrl.user.flag.length > 0 && ctrl.changePassword">
                        <label class="h5 col-sm-2 control-label ng-binding">{{'labelinput-new-password' | translate}}</label>

                        <div class="col-sm-10">
                            <input type="password"
                                   name="newPass"
                                   ng-model="ctrl.new_password"
                                   placeholder="{{'placeholder-new-password' | translate}}"
                                   required/>
                        </div>
                    </div>
                    <div class="form-group" ng-if="ctrl.user.flag.length > 0 && ctrl.changePassword">
                        <label class="h5 col-sm-2 control-label ng-binding">{{'labelinput-confirmpassword' | translate}}</label>

                        <div class="col-sm-10">
                            <input type="password"
                                   name="confirNewPass"
                                   ng-model="ctrl.confirm_new_password"
                                   placeholder="{{'placeholder-confirmpassword' | translate}}"
                                   required/>
                        </div>
                    </div>
                    <br />
                    <div class="form-group" ng-if="ctrl.user.flag.length > 0">
                        <label class="h5 col-sm-2 control-label ng-binding">{{'label-profileimage' | translate}}</label>

                        <div class="col-sm-10">
                            <input onchange="angular.element(this).scope().setFiles()" type="file"  id="file"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="h5 col-sm-2 control-label ng-binding">{{'label-languages' | translate}}</label>

                        <div class="col-sm-10">
                            <select ng-model="ctrl.languageSelected"
                                    class="form-control m-b"
                                    ng-value="item.value"
                                    ng-change="changeLanguage()"
                                    name = "language"
                                    ng-options="item.text for item in ctrl.languageList"
                                    required>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ion-content>
    <ion-nav-buttons side="secondary">
        <button type="submit" ng-click="ctrl.updateProfile()" class="btn btn-primary blue darken-3 btn-addon btn-sm">
            <i class="fa fa-floppy-o"></i>{{'button-update' | translate}}
        </button>
    </ion-nav-buttons>
</ion-view>