<div class="panel-default" ng-init="viewDestiny = false">

    <div class="panel-heading z-depth-1 font-bold white-text blue darken-2">
        <h5 class="text-white">
            <span class="pull-right" style="font-size: 24px;" ng-if="ctrl.trip.country.id > 0">
                <a href ng-click="ctrl.addDestiny(ctrl.trip.id)"><i class="fa fa-plus fa-fw"></i> </a>
            </span>
            <a ng-click="viewDestiny = !viewDestiny">
                <i class="icon" ng-class="viewDestiny ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>&nbsp;{{'title-destiny' | translate}}
            </a>
        </h5>
    </div>

    <div class="panel-body" ng-show="viewDestiny" style="padding: 0;">
        <div ng-show="!ctrl.trip.destiny || ctrl.trip.destiny.length < 1">{{'label-messagenodestiny' | translate}}</div>
        <div class="accor" ng-show="ctrl.trip.destiny.length > 0" ng-repeat="stat in ctrl.trip.destiny | orderBy:['date', 'order_position']">

            <div class="panel-warning" ng-repeat="location in stat.locations | orderBy:'order_position'">
                <div class="panel-heading">
                    <div on-hold="ctrl.removeDestiny($parent.$index, $index, stat)">
                        <span class="pull-left" style="padding-right: 5px; padding-top:7px;" ng-click="viewAcord[$parent.$index][$index] = !viewAcord[$parent.$index][$index]">
                            <a ng-show="!viewAcord[$parent.$index][$index]" class="pull-right"><i class="icon ion-arrow-down-b"></i></a>
                            <a ng-show="viewAcord[$parent.$index][$index]" class="pull-right"><i class="icon ion-arrow-up-b"></i></a>
                        </span>

                        <span ng-show="$index == 0">
                            <span class="pull-right" style="font-size: 18px; padding-left: 8px;">
                                <i ng-if="$index == 0" class="fa fa-fw"></i>
                            </span>
                        </span>
                        <span ng-show="$index > 0" class="pull-right" style="font-size: 26px; padding-left: 8px;"ng-click="ctrl.moveLocationUp($parent.$index, $index, ctrl.trip.id)">
                            <i ng-if="$index > 0" class="fa fa-arrow-circle-up"></i>
                        </span>

                        <span ng-show="($index + 1) < stat.locations.length" class="pull-right" style="font-size: 26px;" ng-click="ctrl.moveLocationDown($parent.$index, $index, ctrl.trip.id)">
                            <i ng-if="($index + 1) < stat.locations.length" class="fa fa-arrow-circle-down"></i>
                        </span>
                        <span ng-show="($index + 1) == stat.locations.length">
                            <span class="pull-right" style="font-size: 18px; padding-left: 8px;">
                                <i ng-if="($index + 1) == stat.locations.length" class="fa fa-fw"></i>
                            </span>
                        </span>

                        <span class="pull-right" style="font-size: 26px; padding-left: 5px;" ng-click="ctrl.editDestiny($index, stat, ctrl.trip.id)">
                            <i class="fa fa-pencil fa-fw m-r-xs"></i>
                        </span>
                        <b class="label btn-warning pull-right" style="font-size: 100%;" ng-if="location.mustSeeAndDo == null" style="padding-top:7px !important;">0</b>
                        <b class="label btn-warning pull-right" style="font-size: 100%; margin-top:7px !important;">{{location.mustSeeAndDo.length}}</b>
                        <div class="clear" ng-click="viewAcord[$parent.$index][$index] = !viewAcord[$parent.$index][$index]" style="padding-top:7px;">
                            {{location.name}} - {{ stat.date | date:"MM/dd/yyyy" }}
                        </div>
                    </div>
                </div>
                <div ng-show="viewAcord[$parent.$index][$index]">
                    <div class="text-muted" ng-show="stat.locations.length > 0">
                        <div ng-repeat="msad in location.mustSeeAndDo | orderBy:'order_position'" class="item item-thumbnail-left item-msad" style="overflow: visible;">
                            <img ng-src="data:image/JPEG;base64,{{msad.image_reference}}" ng-show="msad.image_reference && msad.image_reference != 'undefined'" ng-click="ctrl.showMustSeeAndDoDetail(msad)">
                            <p class="msad-title blacktitle" ng-click="ctrl.showMustSeeAndDoDetail(msad)">{{ msad.title }}</p>

                            <span ng-show="$index == 0">
                                <span class="pull-right" style="font-size: 18px; padding-left: 8px;">
                                    <i ng-if="$index == 0" class="fa fa-fw"></i>
                                </span>
                            </span>
                            <span ng-show="$index > 0" class="pull-right" style="font-size: 26px; padding-left: 8px; top: 0px; position: absolute; right: 5px;"ng-click="ctrl.moveMustseeanddoUp($parent.$parent.$index, $parent.$index, $index, msad, stat)">
                                <i ng-if="$index > 0" class="fa fa-arrow-circle-up"></i>
                            </span>

                            <span ng-show="($index + 1) < location.mustSeeAndDo.length" style="font-size: 26px; padding-left: 8px; top: 0px; position: absolute; right: 35px;" ng-click="ctrl.moveMustseeanddoDown($parent.$parent.$index, $parent.$index, $index, msad, stat)">
                                <i ng-if="($index + 1) < location.mustSeeAndDo.length" class="fa fa-arrow-circle-down"></i>
                            </span>
                            <span ng-show="($index + 1) == location.mustSeeAndDo.length">
                                <span class="pull-right" style="font-size: 18px; padding-left: 8px;">
                                    <i ng-if="($index + 1) == location.mustSeeAndDo.length" class="fa fa-fw"></i>
                                </span>
                            </span>

                            <p ng-show="msad.distance" ng-click="ctrl.showMustSeeAndDoDetail(msad)" style="font-size: 12px;">{{ 'label-distance' | translate }}{{ msad.distance  | number : 2 }} kms</p>
                            <p class="" ng-show="msad.price > 0" ng-click="ctrl.showMustSeeAndDoDetail(msad)">{{msad.price | currency}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
