<ion-view view-title="{{'header-recommendedroutes' | translate}}">
    <div class="item" style="position:absolute; z-index: 100; padding: 5px; top: 40px">
        <span class="col-sm-2 control-label">{{'label-budget' | translate}}</span>
        <span class="text-u-c h3 m-b-sm text-primary-lter">{{ctrl.tempBudget | customCurrency : '' : 2}}</span>
    </div>
    <ion-content>
        <section>
            <div dw-loading="loading" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 30, width: 5, radius: 30 }}">
                <div class="form-group" style="margin-top: 40px">
                    <h5 class="col-sm-2 control-label">{{'label-date-preferred' | translate}}</h5>
                    <div class="col-sm-10">
                        <input type="date" name="recommendedDate" ng-model="ctrl.recommendedDate"/>
                    </div>
                </div>
                <messages src="ctrl.messages"></messages>
                <div class="col-sm-12">
                    <ion-list>
                        <ion-checkbox class="item item-thumbnail-left custom-thumbnail item-checkbox-right" style="padding-left: 10px !important; padding-right: 35px !important;" ng-model="item.checked" ng-checked="item.checked" ng-repeat="item in referred().mustSeeAndDo | orderBy:['distance', 'price']" ng-change="ctrl.updateBudget(item)">
                            <img ng-src="data:image/JPEG;base64,{{item.image_reference}}">
                            <h2 class="msad-title" style="font-size: 14px;">{{ item.title }}</h2>
                            <p style="white-space: normal !important;">{{item.location_name}} ({{item.catalog_name}})</p>
                            <p ng-show="item.distance" style="position: absolute; left: 4px; bottom: 0px; font-size: 12px;">{{ 'label-distance' | translate }}{{ item.distance  | number : 2 }} kms</p>
                            <p class="pull-right foot" ng-show="item.price > 0">{{item.price | currency}}</p>
                        </ion-checkbox>
                    </ion-list>
                </div>
                <div class="col-sm-12">
                    <span style="padding-bottom: 25px;">&nbsp;</span>
                </div>
            </div>
        </section>
    </ion-content>
    <ion-nav-buttons side="secondary">
        <button type="submit" ng-click="ctrl.addPreferred()" class="btn btn-primary blue darken-3 btn-addon btn-sm">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{{'button-ok' | translate}}
        </button>
    </ion-nav-buttons>
</ion-view>
