<form name="newUpdateTravel" class="form-horizontal" ng-submit="ctrl.updateTrip()" novalidate>
<ion-view view-title="{{'title-travel' | translate}}">
    <ion-content>
        <section>
            <div dw-loading="loading" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 30, width: 5, radius: 30 }}">
                <messages src="ctrl.messages"></messages>
                <div class="panel-default">
                    <div class="panel-heading z-depth-1 font-bold white-text blue darken-2" ng-click="ctrl.viewMap(viewAcorde)">
                        <h4 class="text-center white-text">
                            {{'header-updatetravel' | translate}}
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <h5 class="col-sm-2 control-label">{{'label-travelname' | translate}}</h5>

                            <div class="col-sm-10">
                                <input class="form-control"
                                       type="text"
                                       name="name"
                                       ng-model="travelDetail().name"
                                       ng-blur="ctrl.autoUpdateTrip()"
                                       required autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <h5 class="col-sm-2 control-label">{{'label-budget' | translate}}</h5>

                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       value="{{travelDetail().budget|currency}}"
                                       name="budget" numbers-only maxlength="8"
                                       ng-model="travelDetail().budget"
                                       ng-blur="ctrl.autoUpdateTrip()"
                                       required autofocus>
                            </div>
                        </div>

                        <div class="form-group" ng-show="travelDetail().budget > 0">
                            <div class="col-sm-10">
                                <a class="commandLink" style="font-size: 20px;" ng-click="ctrl.redirectPreferred()">{{'labellink-recommendedroutes' | translate}}</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <h5 class="col-sm-2 control-label">{{'label-dategoing' | translate}}</h5>

                            <div class="col-sm-10">
                                <input type="date" name="dateGoing" ng-model="travelDetail().dateGoing" 
                                       ng-blur="ctrl.autoUpdateTrip()"
                                       required>
                            </div>
                        </div>

                        <div class="form-group">
                            <h5 class="col-sm-2 control-label">{{'label-datearrival' | translate}}</h5>

                            <div class="col-sm-10">
                                <input type="date" name="dateArrival" ng-model="travelDetail().dateArrival" 
                                       ng-blur="ctrl.autoUpdateTrip()"
                                       required>
                            </div>
                        </div>
                    </div>
                </div>
                <travel-destiny></travel-destiny>

                <br/>
                <div class="" ng-class="{'viewAcordion': viewAcorde}">
                    <div class="panel-default">
                        <div class="panel-heading z-depth-1 font-bold white-text blue darken-2" ng-click="ctrl.viewMap(viewAcorde)">
                            <h5 class="white-text">
                                <i class="icon" ng-class="viewAcorde ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>&nbsp;{{'labelmessage-map' | translate}}
                            </h5>
                        </div>
                        <googlemaps></googlemaps>
                    </div>
                </div>
            </div>
        </section>
    </ion-content>
    <ion-nav-buttons side="secondary">
        <button type="submit" ng-click="ctrl.updateTrip()" class="btn btn-primary blue darken-3 btn-addon btn-sm">
            <i class="fa fa-floppy-o"></i>{{'button-updatetravel' | translate}}
        </button>
    </ion-nav-buttons>
</ion-view>
</form>
