<form name="newUpdateTravel" class="form-horizontal" ng-submit="ctrl.addTrip(newUpdateTravel)" novalidate>
<ion-view view-title="{{'title-travel' | translate}}">
    <ion-content>
        <section>
            <messages src="ctrl.messages"></messages>

            <div class="panel-default">
                <div class="panel-heading z-depth-1 font-bold white-text blue darken-2" ng-click="ctrl.viewMap(viewAcorde)">
                    <h4 class="text-center white-text">
                        {{'header-addtravel' | translate}}
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">{{'label-travelname' | translate}}</h5>

                        <div class="col-sm-10">
                            <input class="form-control"
                                   type="text"
                                   name="name"
                                   placeholder="Nombre Viaje"
                                   ng-model="ctrl.trip.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">{{'label-budget' | translate}}</h5>

                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   value="{{ctrl.trip.budget|currency}}"
                                   name="budget"
                                   placeholder="{{'placeholder-budget' | translate}}"
                                   ng-model="ctrl.trip.budget" numbers-only  maxlength="8"
                                   ui-number-mask="4"
                                   required>
                        </div>
                    </div>

                    <div class="form-group" ng-show="ctrl.trip.budget > 0">
                        <div class="col-sm-10">
                            <a class="commandLink" style="font-size: 20px;" ng-click="ctrl.redirectPreferred()">{{'labellink-recommendedroutes' | translate}}</a>
                        </div>
                    </div>

                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">{{'label-dategoing' | translate}}</h5>

                        <div class="col-sm-10">
                            <input type="date" name="dateGoing" ng-model="ctrl.trip.dateGoing"
                                   placeholder="{{'placeholder-dategoing' | translate}}" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">{{'label-datearrival' | translate}}</h5>

                        <div class="col-sm-10">
                            <input type="date" name="dateArrival" ng-model="ctrl.trip.dateArrival"
                                   placeholder="{{'placeholder-datearrival' | translate}}" required/>
                        </div>
                    </div>
                </div>
            </div>
            <travel-destiny></travel-destiny>
            <br/>
            <div class="" ng-class="{'viewAcordion': viewAcorde}">
                <div class="panel-default">
                    <div class="panel-heading z-depth-1 font-bold white-text blue darken-2" ng-click="ctrl.viewMap(viewAcorde)">
                        <h5 class="white-text">
                            <i class="icon" ng-class="viewAcorde ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>&nbsp;{{'labelmessage-map' | translate}}
                        </h5>
                    </div>
                     <googlemaps></googlemaps>
                </div>
            </div>
        </section>
    </ion-content>
    <ion-nav-buttons side="secondary">
        <button type="submit" ng-click="ctrl.addTrip(newUpdateTravel)" class="btn btn-primary blue darken-3 btn-addon btn-sm">
            <i class="fa fa-floppy-o"></i>{{'button-submitaddtravel' | translate}}
        </button>
    </ion-nav-buttons>
</ion-view>
</form>
