<ion-view view-title="{{'title-destiny' | translate}}">
    <ion-content>
        <section>
            <messages src="dCtrl.messages"></messages>
            <div class="form-horizontal" dw-loading="loading" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 30, width: 5, radius: 30 }}">
                <div class="panel-default">
                    <div class="panel-heading z-depth-1 font-bold white-text blue darken-2">
                        <h4 class="text-center white-text" ng-show="dCtrl.edit == 0">
                            {{'title-newdestiny' | translate}}
                        </h4>
                        <h4 class="text-center white-text" ng-show="dCtrl.edit > 0">
                            {{'title-editdestiny' | translate}}
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" ng-show="dCtrl.stateSelected">
                            <h5 class="col-sm-2 control-label">{{'label-location' | translate}}</h5>
                            <div class="col-sm-10">
                                <select ng-change="dCtrl.addLocateSelect()" ng-model="dCtrl.locat" name="dCtrl.locat" class="form-control m-b" ng-options="locate.name for locate in locations"></select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="dCtrl.stateSelected">
                            <h5 class="col-sm-2 control-label">{{'label-date' | translate}}</h5>

                            <div class="col-sm-10">
                                <input type="date" name="dCtrl.dateDestiny" ng-model="dCtrl.dateDestiny"/>
                            </div>
                        </div>
                        <div ng-class="{'viewAcordion': viewMsadAcord}" ng-show="catalog.length > 0">
                            <div class="panel-default">
                                <div class="panel-heading z-depth-1 font-bold white-text blue darken-2" ng-click="viewMsadAcord = !viewMsadAcord">
                                    <h5 class="white-text">
                                        <i class="icon" ng-class="viewMsadAcord ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>&nbsp;{{'label-mustseeanddo' | translate}} ({{mustseeandoCount}})
                                    </h5>
                                </div>
                                <div class="panel-body acordion form-group">
                                    <div class="item-input-inset">
                                        <label class="item-input-wrapper">
                                            <input type="text" ng-model="search.title" class="form-control" style="margin: 0;" placeholder="{{'placeholder-filter' | translate}}">
                                        </label>
                                        <a class="btn btn-primary blue darken-3" ng-click="dCtrl.clearButton()">
                                            {{'button-clear' | translate}}
                                        </a>
                                    </div>
                                    <ion-list>
                                        <div class="col-sm-12" ng-repeat="cat in catalog | orderBy:'id'">
                                            <p class="msad-title blacktitle">{{ cat.name }}
                                                <div ng-repeat="item in cat.mustSeeAndDo | orderBy:['distance', 'price'] | filter: search">
                                                    <ion-checkbox class="item item-thumbnail-left custom-thumbnail item-checkbox-right" style="padding-right: 50px;" ng-model="item.checked" ng-checked="item.checked">
                                                        <img ng-src="data:image/JPEG;base64,{{item.image_reference}}">
                                                        <h2 class="msad-title">{{ item.title }}</h2>
                                                        <p ng-show="item.distance" style="font-size: 12px; position: absolute; left: 0px; bottom: 0px;">{{ 'label-distance' | translate }}{{ item.distance  | number : 2 }} kms</p>
                                                        <p class="pull-right foot" style="padding-left: 10px;" ng-show="item.price > 0">{{item.price | currency}}</p>
                                                    </ion-checkbox>
                                                </div>
                                            </p>
                                        </div>
                                    </ion-list>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ng-show="dCtrl.locat && destiny.locations.length > 0 && catalog.length > 0" ng-class="{'viewAcordion': viewAcorde}">
                    <div class="panel-default">
                        <div class="panel-heading z-depth-1 font-bold white-text blue darken-2" ng-click="dCtrl.viewMap(viewAcorde)">
                            <h5 class="white-text">
                                <i class="icon" ng-class="viewAcorde ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>&nbsp;{{'labelmessage-map' | translate}}
                            </h5>
                        </div>
                        <googlemaps></googlemaps>
                    </div>
                </div>
            </div>
        </section>
    </ion-content>
    <ion-nav-buttons side="secondary">
        <button ng-if="dCtrl.edit == 0" ng-click="dCtrl.saveDestiny()" class="btn btn-primary blue darken-3 btn-addon btn-sm">
            <i class="fa fa-floppy-o"></i>{{'button-adddestiny' | translate}}
        </button>
        <button ng-if="dCtrl.edit > 0" ng-click="dCtrl.saveDestiny()" class="btn btn-primary blue darken-3 btn-addon btn-sm">
            <i class="fa fa-floppy-o"></i>{{'button-updatedestiny' | translate}}
        </button>
    </ion-nav-buttons>
</ion-view>
