<ion-view view-title="{{'title-travel' | translate}}">
    <ion-content>
        <section>
            <messages src="ctrl.messages"></messages>

            <div class="panel panel-default" ng-if="ctrl.data.travels.length == 0">
                <div class="panel-heading">{{'title-travel' | translate}}</div>
                <div class="panel-body">{{'label-messagenotravel' | translate}}</div>
            </div>

            <div ng-show="ctrl.data.travels.length > 0 ">
                <div class="row" style="margin-right: 0 !important; margin-left: 0; margin-bottom: 0 !important;" ng-repeat="trip in ctrl.data.travels" ng-if="$index % 2 === 0">
                    <div class="col col-50" ng-if="$index < ctrl.data.travels.length" ng-click="ctrl.navigateTo(ctrl.data.travels[$index].id)" on-hold="ctrl.deleteTrip( ctrl.data.travels[$index].id, ctrl.data.travels[$index].name)">

                        <div class="list card" style="margin-bottom: 5px !important;">
                            <div class="item">
                                <h2>{{ctrl.data.travels[$index].name}}</h2>
                            </div>
                            <div class="item">
                                <p><i class="icon ion-cash text-success m-r-sm"></i>{{ ctrl.data.travels[$index].budget | customCurrency }}</p>
                                <p><i class="icon ion-calendar text-success m-r-sm"></i>{{ ctrl.data.travels[$index].dateGoing | date:"MM/dd/yyyy" }}</p>
                                <p><i class="icon ion-ios-calendar-outline text-success m-r-sm"></i>{{ ctrl.data.travels[$index].dateArrival | date:"MM/dd/yyyy" }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-50" ng-if="$index + 1 < ctrl.data.travels.length" ng-click="ctrl.navigateTo(ctrl.data.travels[$index + 1].id)" on-hold="ctrl.deleteTrip( ctrl.data.travels[$index + 1].id, ctrl.data.travels[$index + 1].name)">
                        <div class="list card" style="margin-bottom: 5px !important;">
                            <div class="item">
                                <h2>{{ctrl.data.travels[$index + 1].name}}</h2>
                            </div>
                            <div class="item">
                                <p><i class="icon ion-cash text-success m-r-sm"></i>{{ ctrl.data.travels[$index + 1].budget | customCurrency }}</p>
                                <p><i class="icon ion-calendar text-success m-r-sm"></i>{{ ctrl.data.travels[$index + 1].dateGoing | date:"MM/dd/yyyy" }}</p>
                                <p><i class="icon ion-ios-calendar-outline text-success m-r-sm"></i>{{ ctrl.data.travels[$index + 1].dateArrival | date:"MM/dd/yyyy" }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


    </ion-content>
    <ion-nav-buttons side="secondary">
        <button ng-click="ctrl.clearTrip()" class="btn btn-primary blue darken-3 btn-addon btn-sm">
            <i class="fa fa-plus"></i>{{'button-addtravel' | translate}}
        </button>
    </ion-nav-buttons>
</ion-view>
