<ng-header-loggeado></ng-header-loggeado>
<ng-menu></ng-menu>
<div id="content" class="app-content" role="main">
    <div class="app-content-body ">
        <div class="bg-light lter b-b wrapper-md">
            <h5 class="m-n font-thin h5">Bienvenid@, {{user.name}} {{user.lastname}}</h5>
        </div>


        <section class="col-sm-4">
            <div class="wrapper-md">


            </div>
        </section>
    </div>
</div>
<ng-footer></ng-footer>
