<form name="form" class="form-horizontal" novalidate>
<ion-view view-title="{{'title-document' | translate}}">
    <ion-content>
        <div dw-loading="loading" dw-loading-options="{text: '{{ 'label-loading' | translate }}', className: 'custom-loading', spinnerOptions: {lines: 12, length: 30, width: 5, radius: 30 }}">
            <section>
                <messages src="ctrl.messages"></messages>

                <div class="panel-default">
                    <div class="panel-heading z-depth-1 font-bold white-text blue darken-2">
                        <h4 class="text-center white-text">
                            {{'header-document' | translate}}
                        </h4>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <h5 class="col-sm-2 control-label">{{'label-documentname' | translate}}</h5>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="nombre"
                                       placeholder="{{'placeholder-documentname' | translate}}"
                                       ng-model="ctrl.item.name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <h5 class="col-sm-2 control-label">{{'label-documentdescription' | translate}}</h5>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="descripcion"
                                       placeholder="{{'placeholder-documentdescription' | translate}}"
                                       ng-model="ctrl.item.description">
                            </div>
                        </div>

                        <div class="form-group" ng-show="ctrl.showPosition">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <div class="m-b-xs m-t">
                                        <label class="i-checks i-checks-lg text-black">
                                            <input type="checkbox" class="form-control" name="geoposicion"
                                                   ng-model="ctrl.geoposicion">
                                            <i></i>{{'labelmessage-savegeographyposition' | translate}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <h5 class="col-sm-2 control-label">{{'label-addattachment' | translate}}</h5>

                            <div class="col-sm-10">
                                <input class="input-group" onchange="angular.element(this).scope().setFiles()" type="file" id="file" style="line-height: 2;"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-default">
                    <div class="panel-heading z-depth-1 font-bold white-text blue darken-2">
                        <h5 class="text-white">
                            {{'label-files' | translate}}
                        </h5>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <span ng-if="ctrl.files.length == 0">{{'labelmessage-noattachment' | translate}}</span>
                        <div class="list">
                            <div class="clear" ng-repeat="file in ctrl.files" on-hold="ctrl.removeDocument(file)" ng-click="ctrl.openModal(file)">
                                <div class="item item-thumbnail-left" style="min-height: 45px !important;">
                                    <img ng-src="{{file.extension}}"  style="max-width: 30px !important; max-height: 30px !important">
                                    <h2 class="msad-title blacktitle">{{file.name}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-default">
                    <div class="panel-heading z-depth-1 font-bold white-text blue darken-2">
                        <h5 class="text-white">
                            {{'label-images' | translate}}
                        </h5>
                    </div>
                    <div style="padding: 0;">
                        <div class="col-sm-10">
                            <div style="margin-top: 10px;">
                                <button class="btn btn-primary blue darken-3" ng-click="ctrl.addImage()">{{'label-takepicture' | translate}}</button>
                            </div>
                        </div>
                        <br/>
                        <span ng-if="ctrl.photos.length == 0">{{'label-messagenopicture' | translate}}</span>
                        <div class="list">
                            <div class="clear" ng-repeat="photo in ctrl.photos" ng-click="ctrl.openModal(photo)" on-hold="ctrl.removePhoto(photo)">
                                <div class="item item-thumbnail-left" style="min-height: 45px !important;">
                                    <img ng-src="{{photo.urlForImage}}"  style="max-width: 30px !important; max-height: 30px !important">
                                    <h2 class="msad-title blacktitle">{{photo.nameForImage}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <script id="templates/modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar class="bar bar-header bar-stable">
                    <h1 class="title">{{'label-view-picture' | translate}}</h1>
                    <button class="button button-clear button-primary" ng-click="modal.hide()">{{'label-close' | translate}}</button>
                </ion-header-bar>
                <ion-content class="padding" scroll="false">
                    <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
                        <img ng-src="{{imgUrl}}">
                    </ion-scroll>
                </ion-content>
            </ion-modal-view>
        </script>

    </ion-content>
    <ion-nav-buttons side="secondary">
        <button type="submit" ng-click="ctrl.addItem()" class="btn btn-primary blue darken-3 btn-addon btn-sm">
            <i class="fa fa-floppy-o"></i>{{'button-submitadddocument' | translate}}
        </button>
    </ion-nav-buttons>
</ion-view>
</form>