<ion-view view-title="{{'title-document' | translate}}">
	<ion-content>
		<section>
			<messages src="ctrl.messages"></messages>
			<div class="panel panel-default" ng-if="ctrl.docs.total == 0">
				<div class="panel-heading">{{'label-documentlist' | translate}}</div>
				<div class="panel-body">{{'label-messagenodocument' | translate}}</div>
			</div>
            <div ng-show="ctrl.docs.total > 0 ">
                <div class="row" style="margin-right: 0 !important; margin-left: 0; margin-bottom: 0 !important;" ng-repeat="document in ctrl.docs.documents" ng-if="$index % 2 === 0">
                    <div class="col col-50" ng-if="$index < ctrl.docs.total" ng-click="ctrl.navigateTo(ctrl.docs.documents[$index].id)" on-hold="ctrl.deleteItem(ctrl.docs.documents[$index].id, ctrl.docs.documents[$index].name)">
                        <div class="list card" style="margin-bottom: 5px !important;">
                            <div class="item">
                                <h2>{{ctrl.docs.documents[$index].name}}</h2>
                            </div>
                            <div class="item">
                                <p><i class="icon ion-calendar text-success m-r-sm"></i>{{ ctrl.docs.documents[$index].date | date:"MM/dd/yyyy" }}</p>
                            </div>
                        	<ul class="item" style="padding: 2px 0 0 0;">
                            	<il ng-repeat="icon in ctrl.docs.documents[$index].icons">
                                    <img ng-src="{{icon}}" width="50px">
                                </il>
                                <il ng-if="ctrl.docs.documents[$index].icons.length == 0">
                                    <img src="img/no-icon.png" width="50px">
                                </il>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-50" ng-if="$index + 1 < ctrl.docs.total" ng-click="ctrl.navigateTo(ctrl.docs.documents[$index + 1].id)" on-hold="ctrl.deleteItem(ctrl.docs.documents[$index + 1].id, ctrl.docs.documents[$index + 1].name)">
                        <div class="list card" style="margin-bottom: 5px !important;">
                            <div class="item">
                                <h2>{{ctrl.docs.documents[$index + 1].name}}</h2>
                            </div>
                            <div class="item">
                                <p><i class="icon ion-calendar text-success m-r-sm"></i>{{ ctrl.docs.documents[$index + 1].date | date:"MM/dd/yyyy" }}</p>
                            </div>
                            <ul class="item" style="padding: 2px 0 0 0;">
                                <il ng-repeat="icon in ctrl.docs.documents[$index+1].icons">
                                    <img ng-src="{{icon}}" ng-if="icon && icon != ''" width="50px">
                                </il>
                                <il ng-if="ctrl.docs.documents[$index+1].icons.length == 0">
                                    <img src="img/no-icon.png" width="50px">
                                </il>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

		</section>
	</ion-content>
	<ion-nav-buttons side="secondary">
        <a href="#/app/tabs/documents">
            <button type="button" class="btn btn-primary blue darken-3 btn-addon btn-sm">
                <i class="fa fa-plus"></i>{{'button-adddocument' | translate}}
            </button>
        </a>
	</ion-nav-buttons>
</ion-view>